$brand-color: #2b78e4;
$border: 1px solid #999;
$background-color: #E9EAED;

body {
  background-color: $background-color;
}

// General Navigation Bar
.navbar-DB {

  background-color: $brand-color;
  border-bottom: $border;
  color:#fff;

  .navbar-brand {
    padding-top: 10px;
    
    img {
      $img-size:30px;
      width: $img-size;
      height: $img-size;
      border-radius: $img-size/2;
      display: inline-block;
      vertical-align: none;
    }

    span { 
      color: #fff;
      font-size: 30px;
      vertical-align: middle;
      margin-left: 10px;
    }

  }

  .navbar-left {
    padding-left:50px;
  }

  .navbar-nav>li>a {
      color: #fff;
      padding-right: 30px;
    }

}


// Search bar width in desktop, tablet
@media (min-width: 768px) {
  .navbar-DB .navbar-form .form-control {
      width: 350px;
  }
}

@media (min-width: 992px) {
  .navbar-DB .navbar-form .form-control {
      width: 550px;
  }
}


//Main

//Top Section
.top-section {
  margin-top: 50px;
  background-color: #fff;

  .cover-pic-wrapper {
    border: $border;
    height: 350px;
    overflow: hidden;
    
    img {
      width: 100%;
      height: auto;
      margin-top: -250px;
    }
  }

  .profile-pic-wrapper {
    border: 4px solid white;
    width: 180px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    left: 20px;
    top: 190px;

    img {
      width: 100%;
      height: auto;
    }
  }

  // Navigation Bar below Cover Picture
  .second-nav {
      border: $border;
      border-top: none;

    .second-nav-btn {
      border-right: $border;
      border-left: $border;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      font-weight: bold;
      color: #000;

      span {
        font-size: 11px;
        color: #999;
      }
    }

    .about-btn {
      background-color: $background-color;
    }

    .edit-profile {
      font-size: 13px;
      padding-top: 15px;
    }
  }
}

//About Section

.about-section {
  margin-top: 15px;
  margin-bottom:50px;
  border: $border;
  background-color: #fff;

  .about-title {
    border-bottom: $border;
    text-align: center;

    button {
      float:right;
      background-color: $brand-color;
      color: #fff;
      position:absolute;
      right: 15px;
      top: 15px;
    }
  }

  .about-text {
    padding: 20px 50px 30px;

    h3 {
      margin-bottom: 20px;
    }
    .info-category {
      font-weight: bold;
      padding-left: 0;
    }
  }

}
