body {
  padding-top: 50px;
}

#site-logo {
  border-radius: 25px;
}

.cover-photo-area {
  position: relative;
  top: 0;
  left: 0;
}
.cover-photo-container {
  position: relative;
  top: 0;
  left: 0;
  height: 500px;
  overflow-y: hidden;
}
.cover-photo {
  position: relative;
  top: -100px;
  width: 100%;
}

.profile-picture-container {
  position: absolute;
  top: 275px;
  left: 40px;
  width: 200px;
  height: 250px;
  overflow: hidden;
}
.profile-picture {
  width: 100%;
}

.section-nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;

  a.edit-profile-link {
    float: right;
    padding-right: 20px;
    line-height: 40px
  }
}

.profile-subsection {
  header {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: #eee;
    text-align: center;
  }
  section {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h2 {
    margin-top: 10px;
  }
  .edit-profile-btn {
    padding-right: 10px;
    text-align: right;
    line-height: 53px;
  }


}
