// Variables
$brand-primary: #2b78e4;
$brand-secondary: #fff;

// body-padding

body {
  padding-top: 51px;
}

// navbar

.navbar-inverse {
  background-color: $brand-primary;
}

#main-logo {
  .navbar-brand {
    font-size: 25px;
    font-family: sans-serif;
    color: $brand-secondary;
  }
}

#search-bar {
  text-align: center;
}


    // Profile Section


#profile-container {
  margin-bottom: 25px;
  .profile-cover {
    width: 100%;
    margin: 0;
  }

  .profile-pic {
    position: absolute;
    left: 30px;
    bottom: -20px;
    box-shadow: 0 0 2px 2px;
  }

  @media (max-width: 768px) {
    .profile-pic {
      img {
        left: 25px;
        max-width: 130px;
      }
    }
  }
  #profile-nav-row {
    //background-color: #d3d3d3;
  }

}

.edit-link {
  a {
    font-size: 12px;
    padding-top: 11px;
  }
}

.profile-nav {
  .counter {
    font-size: 9px;
    padding: 2px;
  }
}



//       About Section


.panel {
  background-color: #e4e4e4;
}

.about-header {
  .edit-button {
    margin: 27px;
    width: 110px;
    color: $brand-secondary;
    background-color: $brand-primary;
  }
}

h3.basic {
  padding-bottom: 10px;
}

h3.contact {
  padding-bottom: 10px;
}


//       About-Edit Section

.static-forms {
  padding-top: 1px;
}

.save-btn {
  padding: 15px;
}

.save {
  color: $brand-secondary;
  background-color: $brand-primary;
  padding: 15px;
}

.save-container {
  margin-bottom: 50px;
}

//      Timeline

.panel-footer {
  button {
    color: $brand-secondary;
    background-color: $brand-primary;
  }
}

#commented-post-header {
  margin-top: -20px;
}

.comment-button {
  color: $brand-secondary;
  background-color: $brand-primary;
}

.profile-panel-pics {
  img {
    padding: 5px;
  }
}

.more-items {
  margin-top: 20px;
}
