#top-navbar {
  background: linear-gradient(#4c67a1, #3b5998);
  border: 1px solid #21346B;
  border-radius: 0;
  box-shadow: 0px 2px 2px #B9BABB;
  color: #fff; }
  #top-navbar a.navbar-brand {
    font-size: 28px;
    color: #fff; }
  #top-navbar #navbar-username {
    color: #fff;
    font-size: 18px; }
  #top-navbar .icon-bar {
    background-color: #fff; }
