#top-navbar {
  background: linear-gradient(#4C67A1, #3B5998);
  border-bottom: 1px solid #21346B;
  box-shadow: 0px 2px 2px #B9BABB;

  a.navbar-brand {
    color: #fff;
    font-size: 28px;
  }

  .icon-bar {
    background-color: #fff;
  }
}