#photo-grid {

	text-align: center;

	.row {
		border: 1px solid black;
		border-top: 0;
	}

	header {
		font-size: 32px;
		background-color: #EEE;
		border: 1px solid black;
		margin-top: 15px;
	}

	img {
		height: 200px;
		width: 200px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			display: inline-block;
			height: 200px;
			margin: 0 1em 1em 0;
			position: relative;
			width: 200px;
		}

		li:hover span.image-info{
			opacity: 1;
		}
	}

	.image-info{
		background: rgba(0, 0, 0, 0.5);
		color: white;
		cursor: pointer;
		display: table;
		height: 40px;
		left: 0;
		position: absolute;
		top: 135px;
		width: 200px;
		opacity: 0;

		span {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
	}
}