#logo {
	width:20px;
}

#banner_photo {
	width:100%;
	height:205px;
	border:1px solid #000;
}
.jumbotron {
	background-color:#fff;
}
.jumbotron-links {
	margin-left:168px; /* profile photo is 168px wide */

}
.jumbotron-links li {
	display: inline-block;
	font-weight: bold;
	height: 43px;
	border-right: 1px solid #e9eaed;
	border-bottom: 1px solid #e9eaed;
	font-size: 14px;
	float: left;
	line-height: 3.05;
	vertical-align: middle;
	padding: 0 17px;
}
.jumbotron-links .counter {
	font-weight:normal;
	color:#BEBBBB;
}

#profile_photo {
	width:168px;
	height:168px;
	margin-left:20px;
	margin-top:-138px;
	border:1px solid #000;
}
.box-container img {
	width:103px;
	height:103px;
}
.box-container td {
	padding:2px;
}
.box-container .box-container-span {
	text-align:center;
	text-decoration:underline;
}
.post-box .post-user-image {
	width:40px;
	height:40px;
	float:left;
}
.post-box h6 {
	display:inline-block;
}
.post-header .name-date {
	display:inline-block;
	line-height: 0;
	margin-left:5px;
	margin-bottom:10px;
}
.post-footer-links li {
	display:inline-block;
	padding-left:20px;
}
.post-comments .alt-post-date { 
	display:inline-block;

}
.post-comments .comment-body p{
	margin-top:15px;
}

.post-comments .delete-button {
	padding-left:30px;
}
.box-container .photo-page-img {
	height:206px;
	width:206px;
}

.box-container figcaption {
    display: none;
    position: absolute;
    left: 0;
    bottom: 5px;
    right: 0;
    background-color: rgba(0,0,0,.15);
}
figure:hover figcaption {
	display:block;
}

figure {
    position: relative;
    display: inline-block;
}

.box-header {
	background-color: #EDF0F5;
}

.navbar {
	background-color: #3B5998;
	margin-bottom: 0;
}

.navbar-brand {
	color: white;
	padding: 0 0;
	font-size: 32px;
	line-height: 0px;
	padding-top: 24px;
}

.my_name {
	color: white;
	font-size: 30px;
}

.navbar-collapse input {
	margin-top: 10px;
}
.present_tab{
	background-color: #989899;
}
.jumbotron-links li:nth-child(5){
	border-right: none;
}

.box-container .box-header h2 {
	text-align:center;
}



