body {
  /* prevent bootstrap resizing for screen width <300px */
  min-width: 300px;
  width: auto !important;

  /* to account for height of navbar */ 
  margin-top: 50px;

  background-color: #eef7fa;
}

.content-header {
  background-color: #e7e7e7;
  border-bottom: 1px solid #000080;
  h1 { 
    font-size: 2.4em; 
    margin: 0;
    text-align: center; 
    line-height: 56px;
  }
}

.content-body {
  h1 {
    font-size: 2em;
  }
}

.column-style {
  padding-left: 25px;
  padding-right: 25px;
}

/* Top Navbar CSS */

.navbar-style {
  height: 50px;
  min-width: 300px;
  width: auto !important;
  background-color: #4876ff;
  border-bottom: 1px solid #000080;
  box-shadow: 1px 1px 2px #666;
  .navbar-brand-style {
    padding-top: 5px;
    font-size: 30px;
    color: #fffaf0;
    .brand-image {
      height: 40px;
      width: 40px;
      border: 1px solid #000080;
      border-radius: 50%;
      object-fit: cover;
    }
    .brand-image:hover {
      border: 1px solid #0000cd;
    }
  }
  .navbar-brand-style:hover {
    color: #0000cd;
  }
  .navbar-toggle-button-style {
    border: 1px solid #fffaf0;
    .icon-bar-style {
      background-color: #fffaf0;
    }
  }
  .navbar-toggle-button-style:hover {
    background-color: #3232d7;
  }
  .navbar-toggle-button-style:focus {
    background-color: #3232d7;
  }
  .navbar-right-style > li > a {
    color: #fffaf0;
  }
  .navbar-right-style > li > a:hover {
    color: #0000cd;
  }
  .navbar-collapse-style {
    background-color: #4876ff;
  }
  /* div#top-nav-toggle.navbar-collapse.collapse.in {  } */
  @media (min-width: 768px) {
    .navbar-left-style {
      width: 65%;
    } 
    .search-box-container {
      width: 100%;
    }
    .search-box {
      width: 100%;
    }
  }

}




/* About page top section CSS */
main {
  .top-section-container {
    position: relative; /* required for absolute position of profile photo to work correctly*/
    border: 1px solid #000080;
    margin-bottom: 15px;
    #cover-photo {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    .middle-navbar-style {
      margin-bottom: 0;
      @media (min-width: 768px) {
        .middle-navbar-left-style {
          margin-left: 188px;
          a {
            border-left: 1px solid #000080;
          }
          li:nth-child(4) > a {
            border-right: 1px solid #000080;
          }
        }
      }
      .navbar-right > li > a {
        text-decoration: underline;
        color: #0000cd;
      }
      .navbar-right > li > a:hover {
        color: black;
      }
    }
    #profile-photo {
      position: absolute;
      left: 20px;
      top: 210px;
      /*bottom: 20px;*/
      height: 180px;
      width: 180px;
      object-fit: cover;
      object-position: 50% 0%;
      border: 2px solid #000080;
    }
  }
  .bottom-section-container {
    border: 1px solid #000080;
    margin-bottom: 15px;
    background-color: white;
    #edit-profile-btn-container {
      text-align: right;
      line-height: 56px;
      .edit-profile-btn-style {
        margin-right: 10px;
      }
    }
  }
}


/* //////////////// */
/* Timeline page CSS */
#create-post {
  border: 1px solid #666;
}





