html {
  -webkit-font-smoothing: antialiased;
  font-family: helvetica, sans-serif; }

main {
  max-width: 960px;
  margin: 0 auto; }

ul {
  list-style-type: none; }

ul, p, h1, h2 {
  margin: 0;
  padding: 0; }

#pusher {
  height: 50px; }

#navbar {
  background: #127C1F;
  padding: 0 35px;
  height: 50px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #109320;
  z-index: 1000; }
  #navbar #navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto; }
  @media only screen and (max-width: 480px) {
    #navbar {
      padding: 0 10px; } }
  #navbar .logo {
    flex-grow: .1;
    margin-right: 10px; }
    #navbar .logo a {
      display: flex;
      flex-wrap: no-wrap;
      align-items: center;
      justify-content: flex-start; }
    #navbar .logo .icon {
      flex-basis: 50px;
      padding: 10px; }
      @media only screen and (max-width: 480px) {
        #navbar .logo .icon {
          padding: 10px 0; } }
    #navbar .logo h1 {
      margin: 0;
      font-size: 24px;
      color: #fff; }
  #navbar #search-form {
    flex-grow: 2.8;
    margin-right: 10px; }
    #navbar #search-form input {
      border-radius: 2px; }
  #navbar .name-container {
    color: #fff;
    font-size: 14px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 480px) {
      #navbar .name-container {
        flex-grow: 0; } }
    #navbar .name-container .name {
      margin: 0;
      font-size: 18px;
      font-weight: bold; }

#banner {
  position: relative; }
  #banner #name {
    position: absolute;
    bottom: 50px;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    left: 230px; }
    @media only screen and (max-width: 625px) {
      #banner #name {
        position: static;
        text-align: center;
        color: #222;
        text-shadow: none;
        margin-top: 35px; } }

#cover-photo-container {
  width: 100%;
  height: 320px;
  background-image: url("../images/tyrion_cover_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#profile-photo-container {
  width: 200px;
  position: absolute;
  border: 1px solid #777;
  border-radius: 2px;
  display: inline-block;
  z-index: 500;
  top: 150px;
  left: 15px; }
  @media only screen and (max-width: 625px) {
    #profile-photo-container {
      right: 0;
      left: 0;
      margin: 0 auto; } }
  #profile-photo-container img {
    width: 100%;
    border: 3px solid white;
    border-radius: 2px; }

#banner-nav {
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 2px 2px;
  display: flex;
  align-items: center; }
  #banner-nav #banner-tabs {
    margin-left: 232px;
    display: inline-flex; }
    @media only screen and (max-width: 625px) {
      #banner-nav #banner-tabs {
        margin: 15px 0 0;
        width: 100%;
        justify-content: space-between;
        border-top: 1px solid #ccc;
        background: #EAF1E3; }
        #banner-nav #banner-tabs li {
          text-align: center;
          flex-grow: 1; }
        #banner-nav #banner-tabs .first {
          border-left: 0; } }
    #banner-nav #banner-tabs li {
      color: #003707;
      display: inline;
      border-left: 1px solid #eee;
      height: 100%;
      padding: 10px;
      font-weight: bold; }
      #banner-nav #banner-tabs li a, #banner-nav #banner-tabs li a:visited {
        color: #003707; }
      #banner-nav #banner-tabs li .faded {
        color: #777; }
    #banner-nav #banner-tabs .selected {
      background: #EAF1E3; }
    #banner-nav #banner-tabs .last {
      border-right: 1px solid #eee; }
      @media only screen and (max-width: 625px) {
        #banner-nav #banner-tabs .last {
          border-right: 0; } }
  #banner-nav .edit {
    position: absolute;
    right: 10px;
    bottom: 10px; }

#profile-content {
  border: 1px solid #ccc;
  margin-top: 14px; }
  @media only screen and (max-width: 625px) {
    #profile-content {
      border-left: none;
      border-right: none; } }
  #profile-content #profile-header {
    text-align: center;
    background: #EAF1E3;
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #ccc; }
    #profile-content #profile-header h1 {
      font-size: 24px; }
    #profile-content #profile-header .button {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 8px;
      padding: 4px;
      border-radius: 2px;
      border-color: #730000;
      background-color: #C53030;
      font-weight: bold; }
  #profile-content #profile-content-body {
    width: 100%; }
    #profile-content #profile-content-body p {
      margin-bottom: 14px; }
    #profile-content #profile-content-body h2 {
      font-size: 20px;
      margin-bottom: 14px; }
    #profile-content #profile-content-body .bold {
      font-weight: bold; }
    #profile-content #profile-content-body td {
      border: 0; }
      #profile-content #profile-content-body td input {
        width: 100%;
        border: 1px solid #888;
        padding-left: 5px; }
    #profile-content #profile-content-body textarea {
      width: 100%;
      height: 150px;
      border: 1px solid #888; }
  #profile-content #submit-container {
    padding: 50px;
    display: flex;
    align-items: center; }
    #profile-content #submit-container a {
      margin: 0 auto; }
    #profile-content #submit-container #big-submit {
      width: 500px;
      height: 80px;
      border-color: #730000;
      background-color: #C53030;
      color: white;
      font-size: 28px;
      text-decoration: none; }
  #profile-content .photo-row .thumbnail-container {
    position: relative; }
    #profile-content .photo-row .thumbnail-container::after {
      content: "Uploaded in 282 AC";
      display: block;
      padding: 15px;
      position: absolute;
      z-index: 400;
      bottom: 30px;
      background: black;
      color: white;
      width: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0; }
  #profile-content .photo-row .overlay {
    padding: 15px;
    position: absolute;
    z-index: 400;
    bottom: 30px;
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0; }
  #profile-content .photo-row img {
    width: 100%;
    margin-bottom: 30px;
    position: relative; }

@media only screen and (max-width: 480px) {
  .no-small {
    display: none; } }

@media only screen and (max-width: 769px) {
  .no-medium {
    display: none; } }

/*# sourceMappingURL=style.css.map */
