.about-me-box, .photos-box, .friends-box, .newpost-box {
	border: solid black 1px;
	margin-top: 25px;
}

.about-me-box, .newpost-box{
	margin-top: 0px;
}

.box-title {
	
	text-align: center;
	background-color: #bbb;
	border-bottom: solid black 1px;
}

.photos-box img, .friends-box img {

	width:100%;
	height:100%;
}

.newpost-box textarea {

	width: 90%;
	height: 100px;
	margin: 5%;
}

.submit-bar{

	background-color: #bbb;
	border-top: solid black 1px;
}

.submit-bar a {

	height: 50%;
	line-height: 1;
	margin: 5px auto;
}