#timeline-info {
	

	.timeline-header{
	text-align: center;
	font-size: 24px;
	background-color: #EEE;
	border: 2px solid black;
	margin-top: 15px;
	}

	.basic-info {
	text-align: left;
	line-height: 30px;
	padding-left: 15px;
	}

	.timeline-content {
	padding-top: 15px;
	border: 1px solid black;
	}

	.timeline-photos {
	height: 100px;
	width: 90px;
	padding-bottom: 5px;
	}

	.see-more-link {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 10px;
	line-height: 35px;
	}

	.friend-link{
	text-align: center;
	text-decoration: underline;
	}

	.new-post {
	width: 95%;
	height: 100px;
	margin-left: 16px;
	margin-bottom: 15px;
	}

	.post-options {
	background-color: #EEE;
	border: 1px solid black;
	padding: 10px 20px 10px 0;
	}



}