// vars
$blue-accent: #2b78e4
$white: #fff




/* base */
header
  background-color: $blue-accent

  a, a:hover, a:visited
    color: $white
    text-decoration: none




/* module */
.custom-logo-img
  height: 25px
  width: 25px