// vars
$blue-accent: #2b78e4
$white: #fff




/* base */
body
  padding-bottom: 50px

header
  background-color: $blue-accent

  a, a:hover, a:visited
    color: $white
    text-decoration: none

.custom-name
  color: $white

h2, h4
  text-align: center
  margin: 0


/* positioning */
.custom-cover-inside
  position: relative
  left: 30px
  top: 130px
  z-index: 1

  .custom-name
    position: relative
    left: 20px
    top: 105px

.custom-middle-nav
  position: relative
  left: 230px




/* module */
.custom-logo-img
  height: 25px
  width: 25px

.custom-cover
  background: url('../images/hogwarts_small.jpg') no-repeat center center
  background-size: cover
  height: 300px

  .custom-profile
    background: url('../images/harry_potter_small.jpg') no-repeat 80% 10%
    height: 200px
    width: 200px

.custom-info
  margin: 10px 0

  .custom-info-label
    font-weight: bold

  .custom-info-form
    text-align: left

.custom-post-header
  margin-bottom: 20px

  img
    margin-right: 10px