// vars
$blue-accent: #2b78e4
$white: #fff




/* base */
body
  padding-bottom: 50px

header
  background-color: $blue-accent

  a, a:hover, a:visited
    color: $white
    text-decoration: none

.custom-name
  color: $white

h2, h4
  text-align: center
  margin: 0


/* positioning */
.custom-cover-inside
  position: relative
  left: 20px
  top: 120px
  z-index: 1

  .custom-name
    position: relative
    left: 20px
    top: 105px

.custom-middle-nav
  position: relative
  left: 230px




/* module */
/* top section photos */
.custom-logo-img
  height: 25px
  width: 25px

.custom-cover
  background: url('../images/hogwarts_small.jpg') no-repeat center center
  background-size: cover
  height: 300px


/* about page */
.custom-info
  margin: 10px 0

  .custom-info-label
    font-weight: bold

  .custom-info-form
    text-align: left

/* timeline page */
.custom-margin
  padding-right: 0 /* fixes margin for 2 column layout on timeline page */

/* each comment on a post, any post's poster info */
.custom-comment, .custom-post-header
  margin: 10px 0

/* poster's profile pic */
.custom-poster
  height: 55px
  width: 55px

/* people who liked the post */
.custom-post-liked
  border-bottom: 1px solid #e7e7e7
  padding: 15px 0