body {
  color: #555;
}

.section-heading {
  background-color: whitesmoke;
}

.fine-border {
  border: 1px solid darkgray;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
}

.border-btm {
  border-bottom: 1px solid darkgray;
}

.border-top {
  border-top: 1px solid darkgray;
}
.mtop {
  margin-top: 1.5em;
}

.mtop-lg {
  margin-top: 3em;
}

.mleft {
  margin-left: 1.5em;
}

.btn-extra {
  width: 40%;
  margin: 3em
}

.btn-default {
  background-color: whitesmoke;
}

.spaced {
  margin: 0.5em;
}

.spaced-lg {
  margin: 1.5em;
}

.link-text {
  margin-bottom: 0;
  text-decoration: underline;
  font-size: 1.2em
}

.simple-link {
  text-align: right;
  padding: 0.5em 2em 0.5em 0;
  text-decoration: underline;
}

.simple-link-left {
  @extend .simple-link;
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0;

}

.mvert {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.pleft {
  padding-left: 1.5em;
}

.ptop {
  padding-top: 1.5em;
}

.no-pleft {
  padding-left: 0;
}

.no-pright {
  padding-right: 0;
}

.pad-md {
  padding: 0.5em;
}

.counter {
  color: lightgray;
}

.col-xs-6 p {
  color: darkgray;
}

.secondary-text {
  color: darkgray;
}
