.navbar-default {
  background-color: royalblue;
}

.navbar-header img {
  height: 2.5em;
  margin: 0.5em;
}

.navbar .form-group {
  margin: 0.5em 0;
}

.navbar .navbar-brand {
  color: white;
  font-size: 2em;
}

.username {
  color: white;
  text-align: right;
  margin: 0.5em 0;
}

.navbar .img-circle {
  width: 2.5em;
  height: 2.5em;
}