// TIMELINE CSS
$drk-blue: #11162b;
$white: #f1f1f1;
// Signed in Header banner
.signed-in-headerbar {
  background-color: $drk-blue;
          position: fixed;
           padding: 1.5em 0;
           z-index: 1030;
             width: 100%;
               top: 0;

  .danebook-flag {
    vertical-align: baseline;
      margin-right: 10px;
            height: auto;
             width: 25px;
  }

  p {
    margin-bottom: 0;
        font-size: 1.75em;
            color: $white;
  }

  .user-name {
    padding-top: 7px;
      font-size: 1.25em;
  }
}

// Profile section and site nav
header {
  margin-top: 77px;
}

.profile-bgimg-container,
.searchbar {
  display: none;
}

.user-site-nav {

  li{
    border-left: 1px solid #e0e0e0;

  }

  li.active{
    background-color: #e7e7e7;

  }
}

// timeline page
.about-user li{
  padding-top: 10px;
}

.photo-section-aside, .friends-section-aside{

    div {
      padding-top: 25px;
    }
  }

.aside-see-more-cta {
  padding-top: 25px;
}

.post-author-img-container {
  margin-top: 25px;

  &:first-child {
    margin-top: 0;
  }

  .post-img-container {
    vertical-align: top;
    margin-bottom: 15px;
          display: inline-block;
            width: 15%;
  }

  .post-author-container {
      padding-left: 15px;
       padding-top: 10px;
           display: inline-block;
             width: 80%;

    .comment-author {
      margin-top: -10px;
      }
  }

  .comment-author{
    display: inline-block;
    }

  .author-subtext {
    font-size: .75em;
  }

  .commented-links {

    p{
      margin-right: 15px;
        margin-top: 15px;
           display: inline-block;
    }
  }
}

.post-links, .commented-links {

  .post-link-cta, ul {
    margin-top: 15px;
          display: inline-block;
            width: 50%;
  }

  .post-likes{
    margin-top: 15px;
  }
}

.panel-footer {

  .post-cta-container {
    margin-bottom: 0;
  }

  hr {
    border-color: #dfdfdf;
  }

  .comment-container, .comment-cta-container {
    margin-top: 15px;
  }

  .comment-cta-container {

    p, ul {
      display: inline-block;
      width: 50%;
    }
  }
}


//Photo page
.hovereffect {
  text-align: center;
    overflow: hidden;
    position: relative;
      cursor: default;
      height: 100%;
       width: 100%;
       float: left;
}

  .hovereffect .overlay {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
     -webkit-transform: scale(0,1);
         -ms-transform: scale(0,1);
             transform: scale(0,1);
         border-bottom: 1px solid #FFF;
            border-top: 1px solid #FFF;
              position: absolute;
              overflow: hidden;
                height: 80%;
                 width: 80%;
                  left: 10%;
                   top: 10%;
  }

  .hovereffect:hover .overlay {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
              opacity: 1;
               filter: alpha(opacity=100);
  }

  .hovereffect img {
    -webkit-transition: all 0.35s;
            transition: all 0.35s;
              position: relative;
               display: block;
  }

  .hovereffect:hover img {
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  }

  .hovereffect h2 {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
     -webkit-transform: translate3d(0,-100%,0);
             transform: translate3d(0,-100%,0);
        text-transform: uppercase;
           padding-top: 2em;
            text-align: center;
             font-size: 18px;
              position: relative;
               opacity: 0;
                filter: alpha(opacity=0);
                 color: #FFF;
  }

  .hovereffect a, hovereffect p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
     -webkit-transform: translate3d(0,100%,0);
             transform: translate3d(0,100%,0);
               padding: 1em 0;
               opacity: 0;
                filter: alpha(opacity=0);
                 color: #FFF;
  }

  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
              opacity: 1;
               filter: alpha(opacity=100);
  }

// Generic
.subtext {
  padding-left: 10px;
     font-size: .75em;
       display: inline-block;
}

.padding-bottom-sm {
  padding-bottom: 30px;
}

.margin-bottom-sm {
  margin-bottom: 30px;
}


@media (min-width: 480px) {

  .profile-bgimg-container{
    position: relative;
     display: block;

    .profile-bg-img {
      background-position: center;
         background-image: url('../img/hogwarts_small.jpg');
          background-size: cover;
                   height: 200px;
                    width: 100%;
      img {
        height: auto;
         width: 100%;
      }
    }

    .profile-img-container {
      display: none;
    }
  }
}


// Small devices (tablets, 768px and up)
@media (min-width: 768px) {

  .profile-bgimg-container{

    .profile-bg-img {
      height: 300px;
    }

    .profile-img-container {
      position: absolute;
       display: block;
       z-index: 1029;
         width: 20%;
          left: 40px;
           top: 40%;

      img {
        height: auto;
         width: 100%;
      }
    }
  }

  .photo-section-aside, .friends-section-aside{

      section:first-of-type div {
      padding-top: 0;
    }
  }

  .searchbar {
    display: inline-block;
  }

  // Generic styles

  .padding-sm {
    padding: 0 20px;
  }

  .margin-left-md {
    margin-left: 23%;
  }

  .padding-bottom-sm {
    padding-bottom: 0;
  }

  .about-content {

    table:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 992px) {

  .profile-bgimg-container{

    .profile-bg-img {
      height: 450px;
    }

    .profile-img-container {
      width: 18%;
        top: 53%;
    }
  }

  .user-site-nav {

    li{
      padding: 0 15px;
    }
  }

  .margin-left-md {
    margin-left: 20.25%;
  }

  .timeline-post-container {
    float: right;
  }
  aside {
    float: left;
  }
}


@media (min-width: 1200px) {

  .profile-bgimg-container{

    .profile-img-container {
      top: 42%;
    }
  }
}

