$drk-blue: #11162b;
$white: #fff;

p {
  line-height: 250%;
}

#login-navbar {
  background-color: $drk-blue;
  padding: 5px 0;

  .navbar {
    margin-bottom: 0;
  }

  .navbar-brand {
    color: #f5bf2c;

    &:hover {
      color: #dda538;
    }
  }

  .navbar-default {
    background-color: $drk-blue;
    border: 0;
  }

  .btn-info {
    background-color: #7f9dc6;
    // color: #46b8da;

    &:hover {
      background-color: #3777ab;
      border-color: #7f9dc6;
    }
  }
}

.nav-search-bar-container {
  float: left;
  width: 60%;

  form {
    display: inline-block;
   }

  fieldset {
    margin-left: 40px;
    width: 100%;

    .search-bar {
      width: 100%;
    }
  }
}

.user-name {
  color: #f5bf2c;
  display: block;
  float: right;
  font-size: 1.5em;
  padding-top: 10px;
}


.brand-img-container {
  float: left;
  height: auto;
  padding: 15px 0;
  padding-left: 15px;
  width: 45px;


  img {
    border-radius: 50%;
    width: 100%;
  }
}

.body-signedin {

  header {
    border: 1px solid #c5c5c8;
    border-top: 0;
  }
}

.nav-signed-in {
  background-color: #c5c5c8;
}

.nav-signed-in-item {
  border-left: 1px solid $white;
  float: left;
  font-weight: bold;
  padding: 20px 35px;
  text-align: center;
  &:hover {
    background-color: $white;
  }
  &:first-child {
    border-left: 0;
  }

  .signed-in-nav-links {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}

.last-signed-in-link {
  border-right: 1px solid $white;
}

.nav-signed-in-item-edit {
  float: right;
  font-weight: bold;
  padding: 20px 35px;

  .signed-in-nav-links {
    color: #333;
  }
}

.about-content-title-container {
    background-color: #c5c5c8;
    padding: 5px 15px;
}

.about-content-container {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.about-content-title {
  display: inline-block;
  margin: 0 auto;
  // padding: 0;
  text-align: center;
}

.btn-edit-profile {
  float: right;
  padding: 8px 14px;
}

.profile-content-container {
  position: relative;
}

.profile-background-container {
  background-image: url('../img/hogwarts_small.jpg');
  background-position: center;
  background-size: cover;
  height: 150px;

  .profile-background-image {
    height: auto;
    width: 100%;
  }
}

.profile-image-container {
  display: none;
  height: auto;
  left: 3%;
  position: absolute;
  top: 50%;
  width: 150px;

  .profile-image {
    height: auto;
    width: 100%;
  }
}

.pdng-top-30 {
  padding-top: 30px;
}

.pdng-btm-40 {
  padding-bottom: 40px;
}

.pad20px {
  padding: 10px 20px;
}

.font-weight-normal {
  color: #6c6c6c;
  font-weight: normal;
  padding-left: 5px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}
.about-content {
  border-top:1px solid #c5c5c8;

  h2,
  p,
  td {
    text-align: left;
  }

  table + h2 {
    margin-top: 60px;
  }

  tr:first-child td {
    padding-top: 20px;
  }

  p + h2 {
    margin-top: 60px;
  }

  td:first-child {
    width: 150px;
  }

  td {
    padding: 10px 0;
  }

  table:last-child {
    margin-bottom: 60px;
  }
}


.friends-content {
  border:1px solid #c5c5c8;
  padding: 10px 0;

  .friend-lockup {
    padding: 10px 15px;
  }

  .friend-lockup-inner {
    background-color: #e2e2e2;
    overflow: hidden;
    padding: 15px 10px;
    

    .friend-image {
      height: auto;
      width: 80px;
    }
  }

  .friend-info {
    text-align: left;
    float: left;
    padding:10px 25px;
  }

  .unfriend-container {
    text-align: center;
  }

  .unfriend-btn {
    margin-top:20px;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.subtext {
  display: block;
  margin-top: -15px;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

// photo page

.photo-content {
  border:1px solid #c5c5c8;
  padding-top: 20px;

  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }

  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, 
     -webkit-transform 0.35s;
            transition: opacity 0.35s, 
             transform 0.35s;
     -webkit-transform: scale(0,1);
         -ms-transform: scale(0,1);
             transform: scale(0,1);
  }

  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
            transition: all 0.35s;
  }

  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
  }

  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 18px;
    // background-color: transparent;
    color: #FFF;
    padding-top: 2em;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
     -webkit-transform: translate3d(0,-100%,0);
             transform: translate3d(0,-100%,0);
  }

  .hovereffect a, hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
     -webkit-transform: translate3d(0,100%,0);
             transform: translate3d(0,100%,0);
  }

  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }
}






// Medium devices (desktops, 992px and up)
@media (min-width: 992px) {

  .nav-signed-in div:first-child {
    border-left: 1px solid $white;
    margin-left: 255px;
  }

  .profile-image-container {
    display: block;
  }

  .profile-background-container {
    height: 350px;
  }
}
