$brand-lt-blue: #9fc5f8;
$brand-md-blue: #2b78e4;
$brand-dk-blue: #3f6291;

$white: #f6f6f6;
$light-grey: #696969;




$drk-blue: #11162b;

#login-navbar {
  background-color: $drk-blue;

  .navbar-default {
    background-color: $drk-blue;
    border:0;
  }

  .btn-info {
    background-color: #7f9dc6;
    // color: #46b8da;

    &:hover {
      background-color: #3777ab;
      border-color: #7f9dc6;
    }
  }
}

.brand-img-container {
 
  float: left;
  padding: 15px 0;
  height: auto;
  width: 30px;
  

  img {
    border-radius: 50%;
    width:100%;
  }
}

// ____________navigation menu____________

.navbar {
  padding: 1.5% 0;
}

.navbar-danebook {
  background-color: $brand-md-blue;
  border-color: $brand-dk-blue;
  height: auto;
}

.logo-grouping {
  padding: 15px;

  .navbar-logo {
    color: $white;
    float: none;
    font-size: 2.5em;
  }

  .flag {
    display: inline-block;
    height: 30px;
    margin-right: 5px;
    margin-top: -15px;
    width: 30px;
  }
}


.profile {
  color: $white;
  font-size: 1.5em;
  margin: 0;
  padding-top: 5px;
  text-align: right;
  }

.image-circle {
  border-radius: 50%;
}


// ____________homepage nav form____________

.navbar-form {

  label {
    color: $white;
    display: block;
    padding-bottom: 4px;
  }
}

.login-cta {
  background-color: $brand-lt-blue;
  border-color: $brand-dk-blue;
  color: $brand-dk-blue;
  margin-top: 5%;

  &:hover {
    background-color: $brand-dk-blue;
    border-color: $brand-lt-blue;
    color: $white;
  }
}

// ____________main content____________

.mainpage-bullets {
  margin-top: 5%;

  li {
    color: $light-grey;
    font-size: 1.25em;
    margin-bottom: 5%;
  }
}

// ____________form content____________

.mainpage-title {
  font-size: 2.5em;
  margin-bottom: 5%;
  margin-top: 0;
}

.mainpage-date-label {
  display: block;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-right-15 {
  margin-right: 15px;
}

.birthday-date {

  select {
    max-width: 50%;
  }

  p {
    margin-top: 5%;
  }
}

.mainpage-signup-cta {
  font-size: 1.75em;
  margin-top: 5%;
  width: 100%;
}


// ____________@MEDIA STYLES____________

@media screen and (min-width: 500px) {

  // body {
  //   padding-top: 15%;
  // }

  .mainpage-bullets {
    margin-top: 5%;

    li {
      font-size: 1.25em;
      margin-bottom: 2.5%;
    }
  }
}

@media screen and (min-width: 768px) {

  .logo-grouping {
    margin-top: 10%;
    padding: 0;
    padding-top: 15px;

    .flag {
      margin-right: 15px;
    }
  }

  .form-margin-right-25 {
    margin-right: 25px;
  }

  .birthday-date {

    select {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 1199px) {

  .navbar-danebook {

    .form-group {
      margin-right: 23px;
    }
  }
}

@media screen and (min-width: 1700px) {

  // body {
  //   padding-top: 8%;
  // }

  .navbar-danebook {
    padding: 10px 0;

    .form-group {
      margin-right: 23px;
    }
  }

  .mainpage-content {

    li {
      font-size: 1.5em;
      margin-bottom: 2.5%;
    }
  }
}
