@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar {
  background-color: #2b78e4;
  border-bottom: 1px solid black;
  height: 45px;

  .container {
    @include vertical-align();

    .navbar-element {
      display: inline-block;

      a {
        display: inline-block;

        img {
          width: 30px;
          height: 30px;
        }
      }

      h1 {
        display: inline-block;
      }
    }
  }
}