nav {
  .topnav{
  background-color: #3b5998;
}
   .navbar-bottom ul{
    border: 2px solid black;
    color: black;
   }
}

section {
  .top{
    position:relative;
    padding-top: 15%;
    padding-left: 1%;
  }
  #name{
    position: relative;
    display:inline-block;
    padding-left: 10%;
    padding-top: 12%;
    color: white;
  }
  .menu{
    display: inline-block;
  }
  table{
    width:100%;
    background-color: white;
    padding-left: 200px;
    border-style: solid;
    td{
      border-style: solid;
    }
    td{
      border-style: solid;
    }
  }
  .top{
    background-image: url("http://s3.amazonaws.com/viking_education/web_development/web_app_eng/hogwarts_small.jpg");
     background-repeat: 2;
     border:4px solid black;
  }

}


.basic-information ul{
  padding-left: 20px;
  input{
    display:inline-block;
    width:40%;
  }
}



$bgDefault      : #ffffff;
$bgHighlight    : #3b5998;
$colDefault     : #0b0b0b;
$colHighlight   : #f3f0f7;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}