/*********** Classes **************/

.navbar-default{
    background-color: #27E;
    color: white;
    border-bottom: none;
}

.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar-brand{
    margin-left: 40px;
}

.form-group{
    margin-left: 30px;
    .form-control{
        width: 600px;
    }
}

.cover-photo{
    margin-top: 40px;
    width: 100%;
    height: 400px;
    background-image: url("./assets/hogwarts.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.menu-option{
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.grey{
    color: grey;
}

.grey-background{
    background-color:#EEE;
}

.profile-pic{
    position: absolute;
    top: 80%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.spacer{
    height: 35px;
}

.panel-content{
    margin-top: 40px;
    p{
        font-size: 13px;
    }

}

.info-header{
    font-size: 25px;
    font-weight: bold;
}

.bold-info{
    font-weight: bold;
    font-size: 12px;
}

.info-row{
    margin-top: 25px;
}

.friend-card{
    height: 150px;
    border: 1px solid black;
    margin-bottom: 30px;
    background-color: #EEE;
}

.card-pic-container{
    height: 80%;
    top: 10%;
}

.card-pic{
    width: 100%;
    height: 100%;
}

.card-info-container{
    height: 20%;
    top: 35%;
}

.card-link{
    text-decoration: underline;
}

.card-info{
    color: grey;
}

.card-button-container{
    height: 30%;
    top: 35%;
}

.card-button{

}


/********************* ID's *******************************/

#brand-pic{
    height: 40px;
}

#brand-text{
    font-size: 30px;
    color: white;
}

#profile-name{
    margin-top: 15px;
    font-size: 18px;
    margin-left: 150px;
    a{ color: white; }

}

#main-name{
    position: absolute;
    top: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
}

#menu-options-tray{
    border: 1px solid black;
    border-top: none;
}

#menu-options-edit-profile{
    float: right;
    margin-top: 13px;
    text-decoration: underline;
}

#about-panel-title{
    font-size: 30px;
    text-align: center;

}

#edit-profile-button{
    border-right: 3px solid black;
    border-bottom: 2px solid black;
}

#right-column-container{
    margin-left: 19px;
}

#about-me-header{
    margin-top: 40px;
}

#save-changes-button{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 200px;
    height: 80px;
    font-size: 25px;
}