#photo-holder{
  height: 150px;
  margin-top: 20px;
  img{
    height: 150px;
    width: 100%;
    border: 2px solid black;
  }
  p{
    position: relative;
    visibility: hidden;
    height: 25%;
    bottom: 40px;
    left: 2px;
    width: 98%;
    text-align: center;
    background-color: #333;
    opacity: 0.5; 
    color: white;
    line-height: 40px;
  }
}

#photo-holder:hover {
  p{
    visibility: visible;
  }
}

#photo-holder:last-of-type{
  margin-bottom: 20px;
}