/* Set up a mix-in (method) to avoid writing lots of prefixes */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  margin-top: 50px;
}

/*
 * Navbar
 */

 // Logo container in navbar
.logo-container {
  img {
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-right: 5px;
    vertical-align: middle;
  }
}

// Seach box in navbar
#user-search {
  width: 100%;
}

// Fixes right margin issue
.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}




/*
 * Header - cover and profile photos as well as profile nav
 */
header {
  border: 1px solid #ccc;
}

// Profile photo
#profile-pic-container {
  margin-top: -143px;

  img {
    max-height: 170px;
    margin-left: 15px;
  }
}

// Profile nav
#profile-nav {
  a {
    color: #444;
  }

  .active {
    background-color: #eee;
  }
}




/*
 * Main - profile about info
 */
main {
  margin-top: 20px;

  .panel {
    @include border-radius(0);

    .panel-title {
      font-size: 2em;
    }

    .about-info {
      line-height: 3em;
    }

    .about-words {
      line-height: 1.67em;

      p {
        margin-bottom: 30px;
      }
    }

    #save-profile {
      margin: 40px 0 70px;
    }
  }
}