#navbar {
  background-color: #2B78E4;
  border-bottom: 1px solid #aaa;
  img {
    height: 40px;
    width: 40px;
  }
  .navbar-brand {
    margin-top: -9px;
    color: white;
    font-size: 30px;
  }
  input {
    width: 400px;
  }
  li a {
    font-size: 20px;
    color: white;
  }
}

#header {
  height: 350px;
  .cover-photo {
    height: 350px;
    padding-top: 50px;
    background: url("https://s3.amazonaws.com/viking_education/web_development/web_app_eng/hogwarts_small.jpg") no-repeat;
    background-size: 100%;
    h1 {
      margin-top: 250px;
      color: white;
      font-weight: bold;
    }
  }
  img.profile-photo {
    max-height: 180px;
    width: 160px;
    margin-top: -150px;
  }
 .left-middle-nav>li{
    a {
      color: #333;
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin-right: 0;
    }
    &.active>a {
      background-color: #eee;
    }
    .count {
      color: #aaa;
    }
  }
  .right-middle-nav {
    border-right: 1px solid #ccc;
    li {
      a {
        text-decoration: underline;
      }
    }
  }
}

main {
  margin-top: 70px;
  &.main-about {
    border: 1px solid #ccc;
  }
  padding-bottom: 50px;
  header {
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    h1 {
      font-size: 30px;
      line-height: 50px;
      margin-top: 0;
      font-weight: bold;
    }
  }
  h2 {
    font-weight: bold;
    margin-bottom: 25px;
  }
  p {
    line-height: 1.5em;
    input.form-control {
      height: 30px;
    }
    textarea.about-textarea {
      height: 160px;
    }
  }
  .right-timeline {
    padding-right: 0;
  }
  .post {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 0;
    header {
      text-align: center;
      height: 30px;
      h4 {
        margin-top: 5px;
      }
    }
    .post-textarea {
      padding: 8px;
     .form-control {
        margin-bottom: 10px;
      }
      a {
          text-decoration: underline;
        }
      h5 {
        text-align: center;
      }
    }
    .post-author {
      padding: 8px;
      img {
        width: 80px;
        height: 80px;
      }
      a {
        text-decoration: underline;
      }
      p {
        color: #aaa;
      }
    }
    footer {
      border-top: 1px solid #ccc;
      background-color: #eee;
      padding-top: 7px;
      padding-bottom: 7px;
      &.comment-footer {
        border: none;
        padding-top: 0;
      }
      p {
        padding-top: 7px;
        color: #888;
      }
      a {
        text-decoration: underline;
      }
    }
    .post-comment {
      padding-left: 0;
      margin-bottom: 0;
      border: none;
      border-top: 1px solid #ccc;
      background-color: #eee;
      .post-textarea {
        padding-bottom: 0;
      }
    }
    .comment-textarea {
      padding-left: 8px;
    }
    .comment-footer {
      padding-left: 8px;
      color: #888;
      a {
        text-decoration: underline;
        padding-right: 20px;
      }
      p.col-xs-10 {
        padding-left: 0;
      }
    }
    .see-more {
      padding-bottom: 14px;
      a {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  .friends-field {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background-color: #eee;
    }
    a {
      text-decoration: underline;
    }
    p {
      color: #888;
    }
  }
  .photos-row {
    margin-bottom: 20px;
    .thumbnail {
      .caption {
        background-color: #888;
        visibility: hidden;
        border-top: 1px solid #aaa;
        color: white;
        text-align: center;
      }
    }
    .thumbnail:hover {
      .caption {
        visibility: visible;
      }
    }
    }
  
}
