body {

	.border-control {
		border: 1px solid #ccc;
	}

	#logo {
		background: url("danish_flag.gif");
		background-size: contain;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-top:-15px;
	}

	.cover {
		background: url("hogwarts_small.jpg");
		background-size: cover;
		height: 550px;

		#user-picture {
			margin-top: 200px;
		}
	}

	.big-title-section {
		margin-top: 50px;
		background: #eee;
		border: 1px solid #ccc;
	}

	.save-change {
		margin-bottom: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 20px;
	}

	.small-title-section {
		margin-top: 40px;
		background: #eee;
		border: 1px solid #ccc;
		}

	.post-creation {
		height: 100px;
	}

	.post-picture {
		background: url("harry_potter_small.jpg") 70% 25% no-repeat;
		width: 100px;
		height: 100px;

		.profile-link {
			display:block;
			width: 100px;
			height: 100px;
		}
	}

	.post-picture-friend {
		background: url("user_generic.png") 70% 25% no-repeat;
		background-size: contain;
		width: 100px;
		height: 100px;

		.profile-link {
			display:block;
			width: 100px;
			height: 100px;
		}
	}

}










