@mixin image {
	width: 200px;
	height: 200px;
}

@mixin list {
	display: inline-block;
	list-style: none;
}

h1, h2, h4 {
	font-weight: bold;
}

.comment-date {
	color: #C1C1C1;
}

.panel {
	margin: 20px 0;

}

.navbar-default {
	border: 2px solid #000;
	height: 70px;
	background-color: #2B78E4;
	color: #fff;

	.navbar-brand {
		color: #fff;
		font-size: 2em;
	}

	h3 {
		margin: 10px 10px;
	}

	a {
		color: #fff;
	}

	.dane-icon {
		display: inline-block;
		position: relative;
		top: -5px;
		height: 40px;
		width: 40px;
		border-radius: 50%;
	}
}

.form-group {
	.search-width {
		width: 60vw;
		margin: 0 100px;
	}
}

.panel-body {
	padding: 30px 50px;
}

.center {
	text-align: center;
}

textarea {
	width: 100%;
	height: 150px;
	wrap: soft;
}

.post-comment {
	border: 1px solid #DDDDDD;
	margin: 20px 0;
	.panel-body {
		padding: 0;
	}

	textarea {
		margin: 20px;
		width: 95%;
	}

	.post-comment-bottom {
		margin-bottom: 0;
		background-color: #F5F5F5;
		height: 60px;
	}

	.post-comment-btn {
		float: right;
		margin: 10px 20px;
	}
}

main {
	position: relative;
	top: 100px;

	.profile-banner {
		img {
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 60vh;
			position: relative;
			top: -50px;
			margin-bottom: -50px;
		}
	}

	.panel-heading {
		h5 {
			float: right;
			position: relative;
			top: -50px;
			padding: 10px;
			background-color: #2B78E4;
			margin-bottom: 0;
			a {
				color: #fff;
			}
		}
	}
	.profile-pic {
		img {
			@include image;
			position: absolute;
			left: 70px;
			top: -175px;
		}
	}

	.profile-bar {
		div {
			display: inline-block;
		}

		a {
			color: #2B78E4;
		}
	}

	.profile-name {
		position: absolute;
		color: #fff;
		left: 300px;
		top: -100px;
	}

	.profile-nav {
		position: relative;
		li {
			@include list;
		}

		button {
			padding: 20px;
			font-size: 18px;
		}
	}

	.profile-edit {
		float: right;
		vertical-align: middle;
	}

	.about {
		margin-top: 20px;
	}

	.about-left {
		ul {
			list-style: none;
			margin: 20px 0;
		}
	}
	.about-right {
		p {
			margin: 20px 0;
		}

	}


	.panel-block {
		margin-bottom: 20px;
		border: 1px solid #DDDDDD;

		.post-header {
			img {
				height: 100px;
				width: 100px;
			}
			padding-top: 20px;
			display: inline-block;
		}

		.panel-body {
			padding: 0px;
			.post-content {
				margin: 20px 20px;
			}
		}
	}
}

.image-row {
	img {
		height: 75px;
		width: 75px;
	}
}

.post-bottom {

	ul {
		padding-left: 0;
		li {
			@include list;
			padding-right: 10px;
			.delete {
				padding-left: 500px;
			}
			.comment-delete {
				padding-left: 155px;
			}
		}
	}

	.post-btn {
		float: right;
		
	}

	.comment-pic {
		height: 50px;
		width: 50px;
	}

	.comment-name {
		font-size: 1.5em;
	}

	padding: 10px 20px;
	background-color: #F5F5F5;
	width: 100%;
}

.friend-block {
	li {
		@include list;
		margin: 10px 20px;
	}

	img {
		width: 75px;
		height: 75px;
	}

	button {
		background-color: #E6E6E6;
	}
}

.photo-block {
	.photo-image {
		img {
			@include image;
			margin: 20px;
		}

		.rollover {
			margin: 0 20px;
			opacity: 1;
			-o-transition-duration: 1s;
			-moz-transition-duration: 1s;
			-webkit-transition: -webkit-transform 1s;
			background-color: #000;
			cursor: pointer;
			@include image;
			position: absolute;
			z-index: 10;
			opacity: 0;
		}

			.rollover:hover {
				padding: 20px;
				color: #fff;
				opacity: .7;
				-o-transition-duration: 1s;
				-moz-transition-duration: 1s;
				-webkit-transition: -webkit-transform 1s;
				-webkit-box-shadow: 0px 0px 4px #000;
				-moz-box-shadow: 0px 0px 4px #000;
				box-shadow: 0px 0px 4px #000;
				}
		}
}