h1, h2, h4 {
	font-weight: bold;
}

.navbar-default {
	border: 2px solid #000;
	height: 70px;
	background-color: #2B78E4;
	color: #fff;

	.navbar-brand {
		color: #fff;
		font-size: 2em;
	}

	h3 {
		margin: 10px 10px;
	}

	a {
		color: #fff;
	}

	.dane-icon {
		display: inline-block;
		position: relative;
		top: -5px;
		height: 40px;
		width: 40px;
		border-radius: 50%;
	}
}

.form-group {
	.search-width {
		width: 60vw;
		margin: 0 100px;
	}
}

.panel-body {
	padding: 30px 50px;
}

.center {
	text-align: center;
}

textarea {
	width: 100%;
	height: 150px;
	wrap: soft;
}

.post-bottom {
	float: right;
}

main {
	position: relative;
	top: 100px;
	.profile-banner {
		img {
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 60vh;
			position: relative;
			top: -50px;
			margin-bottom: -50px;
		}
	}

	.panel-heading {
		h5 {
			float: right;
			position: relative;
			top: -50px;
			padding: 10px;
			background-color: #2B78E4;
			a {
				color: #fff;
			}
		}
	}
	.profile-pic {
		img {
			height: 200px;
			width: 200px;
			position: absolute;
			left: 70px;
			top: -175px;
		}
	}

	.profile-bar {
		div {
			display: inline-block;
		}

		a {
			color: #2B78E4;
		}
	}

	.profile-name {
		position: absolute;
		color: #fff;
		left: 300px;
		top: -100px;
	}
	.profile-nav {
		list-style: none;
		position: relative;
		li {
			display: inline-block;
		}

		button {
			padding: 20px;
			font-size: 18px;
		}
	}

	.profile-edit {
		float: right;
		vertical-align: middle;
	}

	.about {
		margin-top: 20px;
	}

	.about-left {
		ul {
			list-style: none;
			margin: 20px 0;
		}
	}
	.about-right {
		p {
			margin: 20px 0;
		}

	}

	.one-post {
		border: 1px solid #DDDDDD;
		padding: 20px 20px 0;
		border-radius: 4px;

		.panel-body {
			padding-bottom: 0px;
		}
	}
}

.panel-block {
	margin-bottom: 20px;
	.post-header {
		img {
			height: 100px;
			width: 100px;
		}
		display: inline-block;
	}
}

.post-bottom {

	li {
		list-style: none;
		display: inline-block;
		padding-right: 10px;
		.delete {
			padding-left: 300px;
		}
	}
	background-color: #F5F5F5;
	width: 100%;
}