$background-blue: #2B78E4;
$button-shadowing: 4px 4px 2px #888888;

.navbar {
  background-color: #2B78E4;
  .navbar-toggle {
    .icon-bar {
    background-color: #FFF;
    }
  }
}

.navbar-default {
  .navbar-brand {
    color: white;
  }
  .navbar-nav>li>a {
    color: white;
  }
}

#cover-photo {
  width: 100%;
  max-height: 300px;
}
#profile-photo {
  border: 5px white solid;
  position: absolute;
  bottom: -30px;
  left: 30px;
}
#photos-panel {
  position: relative;
  height: 300px;
  #user-name {
    position: absolute;
    bottom: 10px;
    left: 200px;
    color: white;
    font-size: 2.0em;
  }
}

$cover-photo-height: 300px;

#user-search-bar {
  width: 100%;
  @media(min-width:992px) {
    width: 300%;
    transform: translateX(15%);
  }
  @media (min-width:768px) and (max-width:992px) {
    width: 200%;
  }
}

$section-banner-height: 60px;
main {
  border: 2px black solid;
  margin-bottom: 40px;
  padding-bottom: 15px;
  .section-banner {
    border-bottom: 2px black solid;
    background-color: #EEE;
    height: $section-banner-height;
    .section-header {
      text-align: center;
      h1 {
        margin: 0;
        line-height: $section-banner-height;
      }
    }
    .edit-button {
      position: relative;
      height: $section-banner-height;
      button {
        background-color: $background-blue;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        box-shadow: $button-shadowing;
      }
    }
  }
}

.extra-line-height {
  line-height: 2.3em;
}


.save-changes {
  background-color: $background-blue;
  color: white;
  box-shadow: $button-shadowing;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  width: 200px;
  font-size: 1.6em;
}

.friend-tile {
  border: 2px black solid;
  margin: 15px 5px;
  padding: 15px 0;
  .unfriend {
    position: relative;
    padding: 25px 0;
    button {
      box-shadow: $button-shadowing;
    }
  }
  .friend-name {
    padding: 15px 0;
    a {
      font-size: 1.3em;
    }
    .friend-count {
      color: #AAA;
    }
  }
}

.captioned-photo {
  position: relative;
  .caption {
    display: none;
  }
  a:hover + .caption {
    position: absolute;
    bottom: 0;
    display: block;
    z-index: 1;
    background-color: #999;
    opacity: 0.9;
    margin: 0 auto 15px;
    color: white;
  }
}


#timeline {
  margin-top: 100px;
}