body {
  font-family: helvetica, serif;
  font-size: 16px;
  nav.navbar {
    padding: 5px 0 5px 0;
    margin-bottom: 0;
    .navbar-form {
      width: 70%;
      .form-control {
        width: 100%;
      }
    }
  }
  .top-profile {
    margin-bottom: 20px;
    .profile-pic {
      background-image: url('img/hogwarts_small.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 400px;
      img, p {
        display: inline-block;
        position: relative;
        top: 220px;
        left: 10px;
      }
      p {
        font-size: 28px;
        top: 260px;
        margin-left: 15px;
        color: white;
      }
      img {
        transform: scale(0.9);
      }
    }
    .profile-nav {
      background-color: white;
      border: 1px solid silver;
      ul {
        list-style: none;
        margin-bottom: 0;
        li {
          display: inline-block;
          border: 1px solid silver;
          padding: 12px;
        }
        li:last-child {
          float: right;
          border: 0;
        }
      }
    }
  }
  /* Main -- About section */
  .about {
    margin-bottom: 100px;
    border: 1px solid silver;
    h5 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: bold;
      }
    .top {
      text-align: center;
      border-bottom: 1px solid silver;
      margin-bottom: 20px;
      p, h3 {
        display: inline-block;
      }
      h3 {
        font-weight: bold;
        font-size: 28px;
      }
      p {
        float: right;
        padding: 5px 10px 5px 10px;
        border: 1px solid silver;
        font-size: 12px;
        margin-top: 18px;
      }
    }
    .left {
      table {
        margin-bottom: 30px;
      }
    }
    .right {
      div p {
        margin-bottom: 30px;
      }
    }
  }
}














