#navbar {
  background-color: #2B78E4;
  border-bottom: 2px solid #333;
  img {
    height: 40px;
    width: 40px;
  }
  .navbar-brand {
    margin-top: -9px;
    color: white;
    font-size: 30px;
  }
  input {
    width: 600px;
  }
  li a {
    font-size: 20px;
    color: white;
  }

}

