@import 'colors';

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
}

.navbar-default {
  background-color: $brand-primary;
  height: 60px;

  .navbar-header {
    display: inline-block;
    height: 60px;

    img {
      border-radius: 100%;
      height: 50px;
      margin-bottom: 6px;
      margin-right: 10px;
      margin-top: 4px;
      width: 50px;
    }

    h2 {
      color: $brand-white;
      display: inline;
      font-size: 50px;
      vertical-align: middle;
    }

    .form-control {
      vertical-align: middle;
      width: 600px;
    }

    h3 {
      color: $brand-white;
      font-size: 24px;
      vertical-align: middle;
    }
  }
}

.jumbotron {
  background-image: url('assets/hogwarts_small.jpg');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1200px;

  .container {
    display: inline-block;

    img {
      float: left;
      position: relative;
      top: 150px;
      z-index: 2;
    }

    h2 {
      color: $brand-white;
      float: left;
      font-weight: 700;
      padding-left: 15px;
      padding-top: 300px;
    }
  }
}

.navbar-nav {
  border: solid 2px $brand-black;
  font-size: 1.3em;
  margin: 0 46px;
  width: 1200px;

  ul {
    display: inline-block;
    list-style-type: none;
    margin-left: 250px;

    li {
      border: solid 1px $brand-black;
      display: inline-block;
      padding: 15px;
      vertical-align: middle;
    }
  }

  .edit-profile {
    float: right;
    padding-right: 15px;
    padding-top: 20px;
    text-decoration: underline;
  }
}

.middle-nav-links {
  color: $brand-black;

  span {
    color: $brand-gray;
  }
}

.titlebar-full {
  background-color: $title-bar;
  height: 70px;
  margin: 0 auto;
  margin-top: 90px;
  width: 1200px;

  h1 {
    margin-left: 550px;
    padding: 10px;
    }

  a {
    bottom: 50px;
    left: 1050px;
    position: relative;
	}
}

table {
  font-size: 14px;
  margin: 5px;
  margin-top: 20px;

  th {
    font-size: 18px;
  }
}

.save-button {
  margin: 0 auto;
  width: 1200px;

  .btn-lg {
    margin-left: 400px;
    margin-top: 40px;
    width: 400px;
  }
}

main {
  margin: 0 auto;
  width: 1200px;

  div {
    border: 1px solid $brand-black;

    p {
      margin:  auto 15px;
    }

    a {
      text-decoration: underline;
    }

    &.titlebar-3,
    &.titlebar-8,
    &.titlebar-bottom {
      background-color: $title-bar;

      h4 {
        font-weight: bold;
        margin: 2px auto;
        text-align: center;
      }
    }
  }

  .no-border {
    border: 0;
  }

  article {
    border: 1px solid $brand-black;
    margin: 15px;
  }

  table {
    width: 100%;

    td {
      column-width: 30%;
      padding-left: 10px;
    }
  }
}

.more {
  margin: 2px 110px;
}

.to-the-right {
  margin: 5px 5px 5px 575px;
}

.avatar {
  float: left;
  margin: 5px;
}

.posting-info {
  border: 0;
  float: left;
  margin-top: 10px;

  a {
    margin-left: 15px;
  }
}

.post-content {
  clear: both;
  margin-bottom: 15px;
  margin-left: 15px;
}

.titlebar-bottom {
  margin: 5px;

  a {
    padding: 15px;
    width: auto;
  }

  .to-the-right-delete {
    padding-left: 400px;
  }

}
