
body {
  padding-top: 90px;
  padding-bottom: 20px;
  font-family: sans-serif;
}

#navbar-background{
  height: 80px;
  background-color: #3b5998;
  color: white;
}

#nav-container{
  vertical-align: middle;
  line-height: 65px;
  font-size: 24px;
}

#navbar-image{
  height: 45px;
  width: 45px;
  line-height: 80px;
  vertical-align: middle;
  padding-top: 4px;
}

#hogwarts-image{
  width:100%;
  height: 400px;
}

#hogwarts-image-setup{
  position: relative;
}

#navbar-srch-field{
  width: 705px;
}

.srch-field-padding{
  margin-top: 18px;
  margin-bottom:18px;
}

#navbar-font{
  color: white;
  line-height: 45px;
  vertical-align: middle;
  font-size: 24px;
}

.link-height{
  line-height: 1px;
}

.about-section-header{
  background-color: #ddd;
  line-height: 20px;
  h2{
    padding-bottom: 4px;
  }
}

.gray-header{
  background-color: #ddd;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}

.img-on-top{
  position: absolute;
  left: 25px;
  top: 235px;
  z-index: 99;
  height: 200px;
  width: 140px;
}

.btn-shdw{
  box-shadow: 2px 2px black;
}

.caption {
  width:100%;
  left: 35px;
  top: 335px;
  position: absolute;
  color: white;
}

.borders{
  border: solid 1px black;
}

span{
  color: #aaa;
}

.top_30{
  margin-top: 30px;
}

.top24{
  margin-top: 24px;
}

.top18{
  margin-top: 18px;
}

.top16{
  margin-top: 16px;
}

.top8{
  margin-top: 8px;
}

.bottom8{
  margin-bottom: 8px;
}

.bottom30{
  margin-bottom: 30px;
}

.bottom-pads{
  padding-bottom: 60px;
}

.right16{
  margin-right: 16px;
}

.left175{
  margin-left: 175px;
}

.right-just{
  column-span: 50;
}

.edit-profile-link{
  vertical-align: middle;
  line-height: 46px;
  text-decoration: underline;
}

.edit-profile-button{
  margin-top: 17px;
  margin-right: 5px;
  //vertical-align: middle;
  //line-height: 20px;
}

.link-style{
  text-decoration: underline;
}

.timeline-photos{
    height: 90px;
    width: 75px;
}

.header-height{
  height: 65px;
}

hr{
  border-color: black;
}

h3{
  font-size: 28px;
  padding-top: 6px;
  font-weight: 400px;
}

.icon-padding{
  padding-top: 8px;
  padding-bottom: 8px;
}

.hover-effect{
  position: relative;
  width: 285px;
}

.photos-page-images{
  height: 175px;
  width: auto;
}

.pic-info{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 220px;
  left: 30px;
  font-size: 12px;
}

.hover-effect:hover .pic-info{
  visibility: visible;
  opacity: 1;
}

.btn-large{
  height: 65px;
  width: 360px;
}

@media screen and (max-width: 991px){
  .caption{
    left: 90px;
  }
}

@media screen and (max-width: 1199px){
  #navbar-srch-field{
    width: 500px;
  }
}

@media screen and (max-width: 991px){
  #navbar-srch-field{
    width: 275px;
  }
}

@media screen and (max-width: 991px) {
  .img-on-top{
    top: 180px;
  }
}
