/* Content border variables */
$content-border-top: 1px black solid;
$content-border-right: 1px black solid;
$content-border-bottom: 1px black solid;
$content-border-left: 1px black solid;
$content-border: 1px black solid;
$content-border-radius: 0;
/* Container variables */
$container-margin: 7.5%;
/* Primary navbar variables */
$primary-navbar-height: 60px;
$primary-navbar-border-top: 1px;
$primary-navbar-border-bottom: 1px;
$primary-navbar-link-fontsize: 18px;
$primary-navbar-link-fontcolor: #FFF;
$primary-navbar-link-lineheight: 1;
$primary-navbar-link-padding: ($primary-navbar-height - $primary-navbar-link-fontsize - $primary-navbar-border-top - $primary-navbar-border-bottom) / 2;
/* Cover section */
$cover-height: 300px;
$secondary-navbar-height: 50px;
/* Button properties */
$btn-border: 1px black solid;
/* Friend summary boxes */
$prof-pic-thumb-width: 100px;
$prof-pic-thumb-height: 100px;
$friend-container-mt: 10px;
$friend-container-mb: 10px;

body {
  padding-top: $primary-navbar-height;
}

header {
  #cover-container {
    border-radius: $content-border-radius;
    border-left: $content-border-left;
    border-right: $content-border-right;
    height: $cover-height + $secondary-navbar-height;
    background-image: url("https://s3.amazonaws.com/viking_education/web_development/web_app_eng/hogwarts_small.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
  }
}

.navbar-primary {
  background-color: #2B78E4;
  border-top: $content-border-top;
  border-bottom: $content-border-bottom;
  border-radius: $content-border-radius;
  height: $primary-navbar-height;

  .container-fluid {
    .navbar-header {
      height: $primary-navbar-height - $primary-navbar-border-top - $primary-navbar-border-bottom;
    }

    .navbar-brand {
      height: inherit;
      padding-top: 10px;
      padding-bottom: 10px;

      img {
        height: 100%;
        width: auto;
        border-radius: 100%;
      }
    }

    .navbar-collapse {
      @media (max-width: 767px) {
        background-color: #2B78E4;
        border: $content-border;
      }
    }

    .navbar-nav {
      height: inherit;

      li {
        height: $primary-navbar-height - $primary-navbar-border-top - $primary-navbar-border-bottom;

        a {
          line-height: 1;
          padding-top: $primary-navbar-link-padding;
          padding-bottom: $primary-navbar-link-padding;
        }
      }
    }

    .navbar-form {
      margin-top: 13px;
      margin-bottom: 13px;
    }
  }
}

header {
  #profile-picture {
    width: 150px;
    height: auto;
    z-index: 1;
    margin-top: -180px;
    margin-right: 10px;
    border: $content-border;
    float: left;
  }

  #user-full-name {
    color: white;
    position: absolute;
    bottom: 0;
    left: 180px;
  }

  .navbar {
    margin-bottom: 0;
  }

  .navbar-secondary {
    border-radius: 0;
    border: $content-border;

    a {
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
    }

    .current-page-link {
      a {
        background-color: #D5D5D5;
      }

      a:hover {
        background-color: #D5D5D5;
      }
    }

    #navbar-edit-profile {
      color: #0C5394;
      text-decoration: underline;
      padding-right: 15px;
    }
  }
}

textarea {
  width: 100%;
}

main {
  margin-bottom: 50px;
}

.navbar-collapse {
  border: none;
  box-shadow: none;
}

.navbar-form {
  border: none;
  box-shadow: none;
}

.more-link {
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-create {
  border: $content-border;
  text-align: center;
  margin-top: 15px;

  header {
    display: flex;
    margin-bottom: 5px;

    h2 {
      margin: auto;
      background-color: #D5D5D5;
      padding: 10px;
      border-bottom: $content-border-bottom;
    }
  }
}

.post {
  border: $content-border;
  margin-top: 15px;

  img {
    display: inline-block;
    vertical-align: middle;
    width: $prof-pic-thumb-width;
    height: $prof-pic-thumb-height;
  }
}

.post-details {
  display: inline-block;
  float: none;
  margin-left: 5px;

  .post-user {
    font-size: 16px;
    margin: auto;
  }

  .post-date {
    color: #A0ACC0;
    font-weight: bold;
  }
}

.post-footer {
  background-color: #D5D5D5;
  padding: 15px;
  border-top: $content-border-top;
}

.comment-footer {
  background-color: #D5D5D5;
  padding-right: 15px;
}

.btn-post {
  float: right;
  border-radius: 0;
  border: $btn-border;
}

.comment {
  margin-left: 15px;
}

.delete {
  float: right;
  margin-right: 15px;
}

.post-footer-like {
  margin-top: 5px;
}

.post-content {
  margin: 10px 15px;
}

.post-comment {
  background-color: #D5D5D5;
  padding-top: 10px;
  border-left: $content-border-left;
  border-right: $content-border-right;

  img {
    margin-left: 15px;
  }

  p {
    margin-top: 10px;
  }

  .like {
    margin-right: 10px;
  }

  .delete {
    float: right;
  }

  .comment-content {
    padding-top: 10px;
    padding-right: 10px;
  }
}

.create-comment {
  background-color: #D5D5D5;
  border-left: $content-border-left;
  border-right: $content-border-right;
  border-bottom: $content-border-bottom;
  padding-top: 15px;
  padding-bottom: 15px;

  .btn-comment {
    display: inline-block;
    float: right;
    border-radius: 0;
    border: $btn-border;
  }

  .btn-cancel {
    display: inline-block;
    border-radius: 0;
    border-color: none;
    background-color: transparent;
  }

  .comment-content {
    margin: 15px;
  }
}

#currentuser-first-name {
  @media (max-width: 767px) {
    float: right;
  }

  li {
    a {
      color: $primary-navbar-link-fontcolor;
      font-size: $primary-navbar-link-fontsize;
      text-align: right;
    }
  }
}

#navbar-toggle-button {
  border-width: 2px;
}

#navbar-brand-text {
  color: white;
  font-size: 28px;
  height: auto;
  line-height: $primary-navbar-height - $primary-navbar-border-top - $primary-navbar-border-bottom;
  padding-right: 20px;
  text-decoration: none;
}

#search-input {
  @media (min-width: 768px) {
    min-width: 300px;
  }
}

.main-content-header {
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  background-color: #D5D5D5;
  border-radius: $content-border-radius;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  .content-header-title {
    text-align: center;

    h2 {
      margin: auto;
    }
  }

  .content-header-link {
    display: flex;

    a {
      margin: auto 0 auto auto;
    }
  }
}

.about-details {
  border: $content-border;
  margin-top: 15px;
  padding: 0 15px;

  header {
    display: flex;
    margin-bottom: 10px;
    background-color: #D5D5D5;
    border-bottom: $content-border-bottom;

    h2 {
      margin: auto;
      padding: 10px;
      text-align: center;
    }
  }

  h3 {
    margin-top: 10px;
  }

  label {
    text-align: left;
  }

  .user-info-item {
    font-weight: 700;
  }
}

.friend-list {
  border-left: $content-border-left;
  border-right: $content-border-right;
  border-bottom: $content-border-bottom;
  text-align: center;
}

.friend-container {
  border: $content-border;
  margin-top: $friend-container-mt;
  margin-bottom: $friend-container-mb;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;

  img {
    width: $prof-pic-thumb-width;
    height: $prof-pic-thumb-height;
    margin: 0 10px 0 10px;
  }

  .friend-details {
    margin: 0 5px 0 0;

    p {
      color: #A0ACC0;
    }
  }

  .btn-unfriend {
    border-radius: 0;
    border: $btn-border;
    background-color: #DDDDDD;
    margin: auto 10px auto auto;
  }
}

.summary-friend-container {
  border: $content-border;
  text-align: center;
  margin-top: 15px;
  padding: 0 15px;

  header {
    display: flex;
    margin-bottom: 10px;
    background-color: #D5D5D5;
    border-bottom: $content-border-bottom;

    h2 {
      margin: auto;
      padding: 10px;
      text-align: center;
    }
  }

  img {
    padding-left: 10px;
    padding-right: 10px;
  }

  .friend-name {
    margin: 0 auto;
    padding: 0 5px 5px 5px;
  }
}

.summary-photos-container {
  border: $content-border;
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  padding: 0 15px;

  header {
    display: flex;
    margin-bottom: 10px;
    background-color: #D5D5D5;
    border-bottom: $content-border-bottom;

    h2 {
      margin: auto;
      padding: 10px;
      text-align: center;
    }
  }
}

.photos-container {
  margin-bottom: 10px;
  padding-top: 10px;
  border-left: $content-border-left;
  border-right: $content-border-right;
  border-bottom: $content-border-bottom;
  text-align: center;
}

#navbar-timeline-link {
  color: black;
  opacity: 1;
  @media (max-width: 767px) {
    border-top: $content-border-top;
  }
}

#navbar-about-link {
  color: black;
  opacity: 1;
  @media (max-width: 767px) {
    border-top: $content-border-top;
  }
}

#navbar-photos-link {
  color: black;
  opacity: 1;
  @media (max-width: 767px) {
    border-top: $content-border-top;
  }
}

#navbar-friends-link {
  color: black;
  opacity: 1;
  @media (max-width: 767px) {
    border-top: $content-border-top;
    border-bottom: $content-border-bottom;
  }
}
