body

.jumbotron {
	height: 300px;
}

.masthead {
	height: 300px;
	position: absolute;
	bottom: -75;

	.headshot {
		width: 128px;
		height: 128px;
		display: inline-block;
	}

	.headshot,
	.masthead-name {
		display: inline-block;
	}
}