#navbar-color{
    background-color: #3A5795;
  }

nav {

  #brand-color {
    color: #fff;
  }

  #elements-color {
    color: #fff
  }

  .icon-bar {
    border: 1px solid #fff;
  }

  // .navbar-toggle:hover {
  //   background-color: #1a3775;
  // }
}