.navbar {
  background-color: #2B78E4;
  .navbar-toggle {
    .icon-bar {
    background-color: #FFF;
    }
  }
}

.navbar-default {
  .navbar-brand {
    color: white;
  }
  .navbar-nav>li>a {
    color: white;
  }
}

#cover-photo {
  width: 100%;
  max-height: 300px;
}
#profile-photo {
  border: 3px white solid;
  position: absolute;
  bottom: 0;
  left: 0;
}
#photos-panel {
  position: relative;
  height: 300px;
}

$cover-photo-height: 300px;

#user-search-bar {
  width: 100%;
  @media(min-width:992px) {
    width: 300%;
    transform: translateX(15%);
  }
  @media (min-width:768px) and (max-width:992px) {
    width: 200%;
  }
}

#timeline {
  margin-top: 100px;
}