.navbar {
  background-color: #2B78E4;
  .navbar-toggle {
    .icon-bar {
    background-color: #FFF;
    }
  }
}

.navbar-default {
  .navbar-brand {
    color: white;
  }
  .navbar-nav>li>a {
    color: white;
  }
}

#cover-photo {
  width: 100%;
  max-height: 300px;
}
#profile-photo {
  border: 5px white solid;
  position: absolute;
  bottom: -30px;
  left: 30px;
}
#photos-panel {
  position: relative;
  height: 300px;
  #user-name {
    position: absolute;
    bottom: 10px;
    left: 200px;
    color: white;
    font-size: 2.0em;
  }
}

$cover-photo-height: 300px;

#user-search-bar {
  width: 100%;
  @media(min-width:992px) {
    width: 300%;
    transform: translateX(15%);
  }
  @media (min-width:768px) and (max-width:992px) {
    width: 200%;
  }
}

$section-banner-height: 70px;
main {
  border: 2px black solid;
  .section-banner {
    border-bottom: 2px black solid;
    background-color: #EEE;
    height: $section-banner-height;
    .section-header {
      text-align: center;
    }
    .edit-button {
      position: relative;
      height: $section-banner-height;
      button {
        background-color: #2B78E4;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        box-shadow: 4px 4px 2px #888888;
      }
    }
  }
}

#timeline {
  margin-top: 100px;
}