$colortheme: #337ab7;
$fontsize: 16px;
$grid-float-breakpoint: 0px;
$bordertype: 2px solid #222;

body {

    padding-top: 50px;
    padding-bottom: 20px;
    @media  screen and (max-width: 600px){
        width: 620px;
    }
}

/*=============================
NAV
=============================*/
.navbar-custom {
    background-color: $colortheme;
    border: 2px solid #333;
    .logo {
        img{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            display: inline-block;
            margin-top: -8px;
        }
        h3 {
            display: inline-block;
            margin-top: -8px;
        }
    }
    .navbar-header {
        .navbar-brand {
            color: white;
        }
        button .icon-bar {
            background-color: white;
        }
        a.navbar-brand:hover {
            color: black;
        }
    }
    form .form-group input {
       width: 450px;
    }
    ul li a {
        color: white;
        font-size: 18px;
    }
    ul li a:hover {
        color: black;
        background-color: white;
    }
}
/*=============================
cover
=============================*/

.cover {
    background: url("resources/hogwarts_small.jpg") no-repeat;
    background-size: cover;
    background-position: 0 50%;
    height: 400px;
    margin-bottom: 0;
    .avatar {
        width: 250px;
        height: 250px;
        border: 2px solid #222;
        position: relative;
        top: 50%;
        left: 2%;
        background: url("resources/user_silhouette_generic.png");
    }
    
}
.user-name {
  position: relative;
  top: 50%;
  left: 110%;
  color: white;
}
/*=============================
SUB-NAV
=============================*/
.sub-navigation {
    background-color:white;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 40px;
    ul.nav.nav-pills {
        margin-left: 280px;
        font-size: $fontsize;
        color: black;
    }
    ul.nav.nav-pills li.active a {
        background-color: #aaa;
        border-radius: 0;
    }
    ul li .badge {
        color: $colortheme;
        background-color: inherit;
    }
    .edit-profile {
        text-decoration: underline;
    }
    .edit-profile a:hover {
        background-color: inherit;
    }
    @media (max-width: 990px) {
        button.navbar-toggle {
            display: block;
            margin-top:0;
            margin-bottom: 0;
            font-size: 18px;
            text-align: center;
            @media (max-width: 420px) {
                width: 155px;
            }
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .collapse.in{
            display:block !important;
        }
        ul li {
            clear: both;
            content: "";
            margin: 0 auto;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 18px;
            border-top: 1px solid black;
        }
        ul {
          border: 1px solid black;
        }
    }
}

/*=============================
ABOUT
=============================*/

.nav-custom {
  
  border: 2px solid #333;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: #ccc;
  text-align: center;
  position: relative;
  margin-top: 0;
    h2 {
        display: inline-block;
    }
    a.btn {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
}
}

.main-custom {
    border: 2px solid #333;
.form-control {
  height: 30px;
  width: 200px;
  font-size: 12px;
}
textarea {
  width: 90%;
  min-height: 80px;
  font-size: 12px;
  color: gray;
  padding: 5px;
  overflow: auto;
  text-align: left;
}
button.btn-save {
  display: block;
  margin: 100px auto;
  width: 400px;
  height: 80px;
  font-size: 25px;
}
.row {
  padding: 15px;
}

}
.friend-card {
  border: 1px solid black;
  width: 400px;
  height: 150px;
  padding: 15px;
  margin: 5px auto;
  img {
  height: 120px;
  width: 120px;
  float: left;
}
}
.friend-info {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  a {
      display: block;
      text-decoration: underline;
    }
}
button.unfriend {
        float: right;
        width: 27%;
        background-color: #aaa;
        font-weight: bold;
        margin-top: 30px;
	box-shadow: 5px 5px 5px #888888;
    }
    button.unfriend:hover {
        background-color: #ddd;
        font-weight: bold;
    }
#info dt {
  text-align:left;
  padding-bottom: 5px;
}
#info dd {
  padding-bottom: 5px;
}
.hovereffect {
  postion: relative;
  cursor: default;
  width: 100%;
  text-align: center;
img {
  width: 90%;
}
}
.upload-time {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 10%;
  visibility: hidden;
  opacity: 0;
  background-color: #999;
  width: 80%;
  font-size: 1.5em;
  color: white;
time {
  padding-left: 0;
  padding-right: 0;
}
}
.hovereffect:hover .upload-time {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.timeline-header {
  background-color: #ccc;
  text-align: center;
  border: 1px solid #333;
  border-left: 0;
  border-right: 0;
  margin-top: 0;
}
.boxx {
  border: 1px solid black;
  border-top: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
}
#about dl {
  padding-right: 5px;
  padding-left: 15px;
}
#about dt {

  text-align: left;
}
#about dd {
  text-align: left;
  padding: 2px;
}
.txt-btn {
  text-decoration: underline;
  padding-bottom: 5px;
}
.post-body textarea {
        width: 95%;
        margin: 8px auto;
	min-height: 80px;
        min-width: 100px;
    }
.nav-footer  {
        border-top: 2px solid black;
        text-align: right;
        background-color: #ddd;
        padding: 5px;
        min-height: 60px;
        a {
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
        }
        .clearfix:after,
        .clearfix:before  {
            content: "";
            clear: both;
        }
        .liked-box {
            display: block;
            text-align: left;
            margin-top: 8px;
            p {
                display: inline-block;
            }
        }
}
.post-body img {
        width: 60px;
        height: 60px;
        margin: 8px;
        display: inline-block;
    }
.author-box {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
        width: 80%;
        time {
            display: block;
            color: #666;
            font-size: 12px;
        }
    }
    .comment-area {
        padding: 8px;
    }
    .unfolded {
        background-color: #ddd;
        time {
            display: inline-block;
        }
.like-area {
            display: inline-block;
            padding-left: 75px;
            width: 100%;
            @media (min-width: 800px) {
                margin-top: -40px;
            }
            a {
                margin-right: 10px;
            }
        }
        .liked-box  {
            margin-left: 30px;
        }
        .form-group .nav-footer {
            border-top: 0;
        }
}
.addon {
        border-top: 1px solid black;
}
