.danebook-logo{
	width:30px;
	height:30px;
	margin-top: -3px;
	margin-right: 5px;
}

.danebook-navbar{
	background-color:#2B78E4;
}

.danebook-search{
	margin-top:12px;
}

.danebook-navbar-text{
	margin-top:10px;
	font-size:24px;
	color:white;
}

#danebook-brand {
	margin-top:2px;
	font-size:24px;
	color:white;
	height:100%
}