body {
  padding-top: 50px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
.navbar-form  .form-control {
    width: 500px;
  }
}

// refactor this code so it is more succinct
.navbar {
  border: none;
}

.navbar-default {
  background-color: #2B78E4;
  .navbar-nav>li>a, .navbar-brand {
    color: white;
  }
}

.jumbotron {
   background: #000 url("img/hogwarts_small.jpg") center center;
   background-size: cover;
   color: #f8f8f8;
}

img {
  &.profile-pic {
    position: relative;
    top: 100px;
  }
}
