$primary-font: helvetica, Arial, sans-serif;


body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: $primary-font;
}

nav {
  background-color: #2B78E4;
  .navbar-brand {
    color: #fff;
  }
  img {
    height: 40px;
    margin: 5px;
  }
 .navbar-form {
    width: 100%;
    .form-group {
      width: 100%;
    }
    .form-control {
      width: 100%;
    }
  }
  p {
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    margin: 0;
  }
}
#bg{
    background:url('hogwarts_small.jpg') no-repeat;
    background-size: 100% 300px;
}
main {
  #bg {
    height: 300px;
    .jumbotron {
      background-color: transparent;
      color: #eee;
      position: relative;
      padding: 0;
      img.profile-image {
        position: absolute;
        top: 155px;
        left: 0;
        width: 140px;
        height: 160px;
      }
      h3 {
        position: absolute;
        top: 250px;
        left: 160px;
      }
    }
  }
  #nav-links {
    padding-left: 176px;
    border: 1px solid #666;
    .nav-pills>li>a {
      border-radius: 0;
    }
    .nav-pills>li {
      width: 150px;
      margin: -1px;
      border-radius: 0;
      border: 1px solid #666;
    }
    li.edit-profile {
      border: none;
      float: right;
      text-decoration: underline;
    }
    .nav>li:last-child>a:hover,
    .nav>li:last-child>a:focus {
      background-color: #fff;
      margin-top: 1px;
    }
  }

  .content>.container {
    margin-top: 10px;
    border: 1px solid #666;
    .heading {
      background-color: #eee;
      position: relative;
      text-align: center;
      border-bottom: 1px solid #666;
      h1 {
        display: inline-block;
      }
      .edit-profile-btn {
        position: absolute;
        display: inline-block;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
      }
    }
  }
}



























