#timeline-divider{
  margin-top: 10px;
  .timeline-content{
    border: 2px solid black;
    padding-top: 10px;
    border-top: 0px;
    h6{
      text-align: center;
    }
  }
  .timeline-title{
  border: 2px solid black;
  text-align: center;
  background: #ccc;
  }
  img{
    height: 50px;
    width: 75px;
    margin-bottom: 10px;
  }
  p{
    text-align: center;
  }
}

#timeline-friends-photos{
  margin-top: 10px;
}



#single-profile-tab-current{
  border-left: 2px solid black;
}

