.navbar{
	background-color: #426bf4;
	margin-bottom: 0;
	.navbar-wrapper{
		width: 1170px;
		margin: 0 auto;
	}
	img{
		height: 50px;
		width: 50px;
		vertical-align: middle;
	}
	.danebook-label{
		font-size: 44px;
		color: white;
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;
	}
	form{
		display: inline-block;
		margin-left: 40px;
		input{
			vertical-align: middle;
			font-size: 20px;
			width: 650px;
		}
	}
	.name-label{
		font-size: 24px;
		color: white;
		display: inline-block;
		vertical-align: middle;
		margin-left: 100px;
	}
}

main{
	.cover-container{
		background-image: url("../assets/hogwarts_small.jpg");
		height: 400px;
	}
	.buttons-container{
		font-size: 14px;
		border: 2px solid black;
	}
	.bordered-column{
		border-left: 2px solid black;
		height: 50px;
		vertical-align: middle;
		line-height: 45px;
	}
	.left-columns{
		color: #aaa;
		@media (max-width: 1200px) {
			font-size: 12px;
		}
		b{
			color: black;
		}
		#clicked-button{
			background-color: #eee;
		}
	}
	.right-columns{
		a{
			text-decoration: underline;
			float:right;
		}
	}
	.profile-picture{
		width: 180px;
		height: 180px;
		top: 250px;
		left: 20px;
		@media (min-width: 1200px) {
			width: 220px;
			height: 220px;
			top: 210px;
		}
		background-image: url("../assets/harry_potter_small.png");
		position: relative;
		z-index: 99999;
	}
	.profile-container{
		margin-top: 20px;
		.info-line{
			border-left: 2px solid black;
			border-right: 2px solid black;
			border-bottom: 2px solid black;
		}
		.about-line{
			background-color: #eee;
			border: 2px solid black;
			button{
				box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
				font-size: 13px;
			}
			.about-label{
				font-size: 33px;
				text-align: center;
			}
			.edit-button{
				line-height: 56px;
				text-align: right;
			}
		}
		.info-wrapper{
			padding : 30px;
			font-size: 16px;
			line-height: 30px;
		}
		.aboutme-wrapper{
			padding : 30px;
		}
		h2{
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}

