.navbar {
  background-color: #2B78E4;
  border: 1px black solid;
  padding-left: 25px;
  padding-right: 25px;

  .navbar-brand {
    font-size: 32px;
    color: #fff; }

  img {
  height: 25px;
  width: 25px;
  border-radius: 15px;
  margin-top: -5px; }
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px; }


body {
  margin-top: 40px

}

.jumbotron {
  height: 500px;
  z-index: -1;
}

.profile-image {
  height: 200px;
  margin-top: -175px;
  }

