.navbar-fixed-top {
  background-color: #2B78E4;
  border: 1px black solid;
  padding-left: 25px;
  padding-right: 55px;

  .form-control {
    border-radius: 0px;
    width: 600px;
  }

  .navbar-brand {
    font-size: 32px;
    color: #fff; }

  img {
  height: 25px;
  border-radius: 50% !important;
  margin-top: -5px; }


  a {
  color: white !important;// #fff;
  font-size: 18px; }
}

body {
  margin-top: 40px;

  * {
    border-radius: 0 !important;
    //border: 1px black solid;
  }
}


.jumbotron {
  height: 400px;
  z-index: -1;
  border-radius: 0px;
  background-position: bottom;
}

main {

  .row {
    //border: 1px black solid;
  }
}

.profile-image {
  height: 200px;
  margin-top: -350px;
  z-index: +1;
}

.middle-nav {
  //z-index: -1;
  margin-top: -30px;
  background-color: white;
  border: 1px black solid;

  ul {
    padding-left: 250px;
    display: inline-block;

    li {
      border-right: 1px black solid;
      border-left: 1px black solid;
    }

  }
  .navbar-right {
    margin: 20px 15px 0 0;
  }
}

.count {
  color: grey;
}

.edit {
  align: right;
  border: 2px black solid;
  font-size: 16px;
  }

.section-bar {
  background-color: gray;
  margin: 0 -15px 0 -15px;

  h3 {
  margin-left: 47%;
  }
  button {
  margin-right: 5px;
  margin-top: 15px;
  }
}

.section-container {
  border: 1px black solid;
  padding-left: 50px;
  }

.save-button {
  width: 50%;
  margin-left: 25%;
  margin: 50px 25%;
}

.friend-box {
  border: 1px black solid;
  margin: 5px 10px;
  width: 45%;
  //height: 40px;
  display: inline-block;

  img {
    width: 20%;
    margin: -20px 10px 10px 10px;
  }
  .friend-info {
    display: inline-block;
    margin: 10px 20px;

    .name-wrapper {
      height: 60px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .btn {
    border: 1px black solid;
    margin-left: 20px;
    margin-top: -20px;
  }
}

