// timeline

@import 'base';
@import 'components/offcanvas';
@import 'components/post_form';

.profile-page-container {
	border: none;

	.details-header,
	.timeline-header,
	.timeline-footer {
		@extend .profile-page-header;
	}

	#about {
		dt {
			width: 45%;
			clear: both;
		}
		dt,
		dd {
			margin-top: 16px;
			float: left;
		}
	}

	#photos,
	#friends {
		img {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 767px) {
	#about {
		margin-top: 34px;
	}
}