body {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1, h2, h3 {
  font-weight: 600;
  margin: 10px 0 10px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.right {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

#top-nav {
  background-color: #337ab7;

  a {
    font-weight: 600;
    color: white;
  }


  .nav-brand-img {
    display: inline-block;
    height: 24px;
    width: 24px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    img {
      height: 100%;
    }
  }

  .nav-brand-word {
    font-size: 20px;
    margin-left: 10px;
    vertical-align: top;
  }

@media screen and (min-width: 992px) {
  #nav-search {
    width: 400px;
  }
}

  .navbar-toggle {
    &:hover {
      background-color: #337ab7;
    }
    &:focus {
      background-color: #337ab7;
    }
    &:active {
      background-color: #26679e;
    }
  }

  .icon-bar {
    background-color: white;
  }

  .nav-icon {
    margin-right: 5px;
  }

  li {
    a {
      &:hover {
        background-color: #26679e;
      }
      &:focus {
        background-color: #26679e;
      }
      &:active {
        background-color: #26679e;
      }
    }
  }
}

#cover {
  position: relative;

  .cover-img {
    position: relative;
    height: 300px;
    overflow: hidden;
    border: 1px solid #333;

    img {
      position: absolute;
      min-width: 100%;
      min-height: 375px;
      top: -150px;
    }
  }

  .profile-img {
    position: absolute;
    height: 180px;
    padding: 5px 5px;
    left: 15px;
    bottom: -25px;
    border: 1px solid #333;
    background-color: white;
    overflow: hidden;
    z-index: 1;

    img {
      height: 100%;
      width: 120px;
    }
  }

  .cover-name {
    position: absolute;
    left: 170px;
    bottom: 15px;

    h1 {
      color: white;
    }
  }
}

#main-nav {
  position: relative;

  ul {
    padding-left: 160px;
    height: 100%;
    border: 1px solid #333;

    li {
      display: inline-block;
      border-left: 1px solid #333;

      a {
        display: inline-block;
        font-size: 16px;
        padding: 10px 20px;
      }

      small {
        color: #aaa;
        margin-left: 5px;
      }

      .active {
        color: #333;
      }

      &:last-child {
        border-right: 1px solid #333;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #main-nav {
    ul li {
      display: block;
      border-bottom: 1px solid #333;

      &:last-child {
        border-right: 0;
        border-bottom: 0;
      }
    }
  }

  #edit-profile-link {
    top: 50px;
    left: 18px;
  }
}

.header-title {
  text-align: center;
  vertical-align: middle;
}

.box {
  border: 1px solid #333;
}

.box-header {
  margin-top: 20px;
  position: relative;

  small {
    margin-left: 5px;
  }
}

.box-body {
  margin-top: -1px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bg-gray {
  background-color: #efefef;
}

.about-list {
  dt {
    float: left;
    clear: left;
    width: 100px;
    font-weight: 600;
    padding: 5px 0;

    &:after {
      content: ":";
    }
  }

  dd {
    margin-left: 100px;
    padding: 5px 0;
  }
}

.edit-form {
  .row {
    margin: 0;
  }

  .control-label {
    text-align: left;

    &:after {
      content: ":";
    }
  }

  button[type="submit"] {
    text-align: center;
    width: 100%;
    margin-top: 15px;
  }

  @media screen and (min-width: 768px) {
    .control-label {
      margin-bottom: 5px;
    }
  }
}

.friend-box {
  border-color: #aaa;
  margin-top: 15px;
  position: relative;
  padding: 15px 15px;

  .friend-img {
    display: inline-block;
    height: 48px;
    width: 48px;
    border: 1px solid #aaa;

    img {
      height: 100%;
    }
  }

  .friend-details {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    a, small {
      display: block;
    }
  }
}

.timeline-list {
  dt {
    float: left;
    clear: left;
    padding: 3px 0;

    &:after {
      content: ":";
    }
  }

  dd {
    margin-left: 120px;
    padding: 3px 0;
  }
}

.box-img {
  img {
    width: 100%;
  }
}