/*.cover-photo{
	background-image: url("../images/hogwarts_small.jpg");
	background-size: 100px 100px;
}*/*/
.black{
    color: #000;
}

.top-navbar{
	margin: 0;
	background-color: #06F;
}

.page-margins{
	margin-left: 5%;
	margin-right: 10%;
}

.full-width{
	width: 100%;
	padding: 0;
	margin: 0;
}

.form-control .full-width, .cover-photo{
	width: 100%;
}

.user-photo{
	position: absolute;
	top: 32%;
	left: -15px;
}

.top-images{

}

.top-part{
	position: relative;
}
.list-spacing{
	padding: 1%;
}

.searchbar{
	width: 50%;
	margin-left: 40%;
	margin-left: 5%;
}

.brand{
	font-size: 2em;
	margin: 2% 5% 5% 5%;
	padding: 2%;
	color: #fff;
}

.brand-black{
	font-size: 2em;
	margin: 2% 5% 5% 5%;
	padding: 2%;
	color: #000;
}
	
.spacing{
	margin-right:  10%;
}
/*
.white-text{
	font-color: #fff;
	color: #fff;
}*/

.big-button{
	width:70%;
	margin: 10%;
	color: #fff;
	font-weight: bold;
	background-color: #06F;
	box-shadow: 2px 2px 2px #000;
	border-color: #black;
	border: solid;
	border-width: 10px;
}

.border-field{
	border: solid;
	border-color: #d3d3d3;
}