/* application layout */
.main-nav {
  background-color: #50a1b9;
  border-radius: 0;
  height: 40px;
  min-height: 0px; }
  .main-nav .navbar-brand {
    height: 25px;
    width: auto;
    padding: 10px 15px; }
    .main-nav .navbar-brand img {
      height: 25px;
      width: 25px;
      border-radius: 100%;
      display: inline-block;
      margin-top: -4px; }
  .main-nav .navbar-text {
    margin: 10px 15px; }
  .main-nav .search-bar {
    display: inline-block; }
    .main-nav .search-bar input {
      -webkit-appearance: textfield;
      box-sizing: border-box;
      height: 24px;
      width: 350px;
      border-radius: 0; }
  .main-nav .white-nav-text {
    color: #fff; }

.cover-image {
  margin-top: 25px;
  background-image: url(../images/cover_image.jpg);
  background-size: cover;
  color: #fff;
  height: 320px;
  border: 2px solid #000;
  border-radius: 0; }
  .cover-image .image-mask {
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 190px;
    left: 60px; }
    .cover-image .image-mask .profile-pic {
      width: 100%; }
  .cover-image .profile-name {
    position: absolute;
    top: 270px;
    left: 260px;
    font-weight: 600; }

.mid-nav {
  border: 2px solid #444;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  margin-top: -30px; }
  .mid-nav ul {
    margin-left: 220px;
    list-style-type: none;
    height: 40px;
    display: inline-block;
    padding: 0; }
    .mid-nav ul li {
      float: left;
      border-right: 2px solid #444; }
      .mid-nav ul li.current {
        background: #ddd; }
      .mid-nav ul li:first-child {
        border-left: 2px solid #444; }
      .mid-nav ul li a {
        display: block;
        color: #444;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none; }
      .mid-nav ul li a:hover {
        background-color: #50a1b9; }
      .mid-nav ul li .count-text {
        color: #aaa; }
  .mid-nav .mid-nav-edit {
    display: inline-block;
    float: right;
    line-height: 40px;
    margin-right: 20px; }

.page-title {
  border: 2px solid #444;
  text-align: center;
  height: 40px; }
  .page-title h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    line-height: 40px; }

/* Pages */
.profile h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px; }
.profile td {
  padding: 10px;
  box-sizing: border-box; }
  .profile td.table-info {
    width: 100%; }
    .profile td.table-info input {
      width: 75%; }
.profile textarea {
  width: 90%; }
.profile .table-label {
  font-weight: 600; }
.profile .btn-lg {
  width: 50%;
  background-color: #50a1b9;
  margin-left: 25%;
  margin-top: 75px;
  height: 75px;
  color: #fff;
  font-size: 32px;
  font-weight: 700px;
  border-radius: 0;
  border: 2px solid #000; }
.profile main {
  border: 2px solid #000;
  padding: 25px;
  padding-bottom: 75px; }

.timeline section {
  border: 2px solid #000; }
.timeline section h2 {
  background-color: #ddd;
  border-bottom: 2px solid #000;
  text-align: center;
  margin-top: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; }
.timeline section footer {
  background-color: #ddd;
  border-top: 2px solid #000; }
.timeline a {
  text-decoration: underline; }
.timeline .left-column section {
  margin-top: 15px; }
  .timeline .left-column section img {
    max-width: 100%; }
  .timeline .left-column section a {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 18px; }
.timeline .about-info .about-list {
  padding: 10px; }
.timeline .timeline-photos {
  padding-bottom: 10px; }
.timeline .right-column section {
  margin-top: 25px;
  margin-left: 15px; }
.timeline .submit-post textarea {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%; }
.timeline .submit-post footer {
  background-color: #ddd;
  height: 40px; }
  .timeline .submit-post footer .new-post-submit {
    margin-top: 1%;
    float: right;
    color: #fff;
    background-color: #50a1b9;
    margin-right: 5%; }
.timeline .post .poster {
  padding: 10px; }
  .timeline .post .poster img {
    max-width: 50px; }
  .timeline .post .poster .post-details {
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1em; }
    .timeline .post .poster .post-details p {
      color: #ccc; }
.timeline .post .post-text {
  padding: 10px; }
.timeline .post footer {
  padding: 10px; }
  .timeline .post footer .post-options a {
    margin-right: 10px; }
  .timeline .post footer .post-options .delete-post {
    display: block;
    float: right; }
  .timeline .post footer p {
    margin-bottom: 0; }
.timeline .post .comments {
  background-color: #ddd;
  display: inline-block; }
  .timeline .post .comments .commenter-image {
    padding: 10px;
    line-height: 1em; }
    .timeline .post .comments .commenter-image img {
      max-width: 50px; }
  .timeline .post .comments .comment {
    width: 100%;
    background-color: #ddd;
    padding-top: 10px;
    display: inline-block; }
    .timeline .post .comments .comment:first-child {
      border-top: 1px solid #ccc; }
    .timeline .post .comments .comment .comment-text {
      padding-bottom: 5px; }
    .timeline .post .comments .comment .comment-options {
      line-height: 1; }
      .timeline .post .comments .comment .comment-options .delete-comment {
        float: right; }
    .timeline .post .comments .comment .comment-meta {
      color: #666;
      display: inline-block;
      padding-bottom: 5px; }
  .timeline .post .comments .comment-form form {
    width: 90%;
    margin: 5%; }
    .timeline .post .comments .comment-form form textarea {
      width: 100%; }
  .timeline .post .comments .comment-form .submit-comment {
    float: right;
    background-color: #50a1b9;
    color: #fff; }

.photos {
  margin-top: 25px; }
  .photos .page-title {
    background-color: #ddd; }
    .photos .page-title .add-photo-btn {
      color: #fff;
      background-color: #50a1b9;
      border-radius: 0;
      position: absolute;
      top: 4px;
      right: 15px; }
  .photos .photo-grid {
    display: inline-block;
    border: 2px solid #000;
    border-top: 0; }
  .photos .photo .image-wrapper {
    position: relative; }
    .photos .photo .image-wrapper .photo-info {
      display: none;
      background-color: rgba(50, 50, 50, 0.5);
      position: absolute;
      bottom: 0px;
      width: 90%;
      margin: 5%;
      max-width: 200px;
      height: 32px;
      color: #fff;
      text-align: center; }
      .photos .photo .image-wrapper .photo-info p {
        line-height: 32px; }
    .photos .photo .image-wrapper img {
      width: 90%;
      max-width: 200px;
      max-height: 200px;
      border: 1px solid #000;
      margin: 5%; }
      .photos .photo .image-wrapper img:hover ~ .photo-info {
        display: block; }

.friends {
  margin-top: 25px; }
  .friends .page-title {
    background-color: #ddd; }
  .friends .friend-grid {
    display: inline-block;
    border: 2px solid #000;
    border-top: 0;
    padding: 10px;
    padding-bottom: 20px; }
  .friends .friend .friend-wrapper {
    margin-top: 15px;
    border: 2px solid #000; }
    .friends .friend .friend-wrapper img {
      width: 25%;
      margin: 2.5%; }
    .friends .friend .friend-wrapper .friend-info {
      width: 40%;
      margin: 2.5%;
      display: inline-block;
      font-size: 16px;
      vertical-align: middle; }
      .friends .friend .friend-wrapper .friend-info a {
        text-decoration: underline; }
      .friends .friend .friend-wrapper .friend-info p {
        color: #bbb; }

/*# sourceMappingURL=styles.css.map */
