.logo {
	padding-top: 2px;
	border-radius: 50px;
}

.form-control .full-width{
	width: 100%;
}

.searchbar{
	width: 60%;
	margin-left: 40%;
	margin-left: 5%;
}

.brand{
	font-size: 2em;
	margin: 5%;
	padding: 1%;
}

.navbar-default {
	background-color: blue;
	border-radius: 0;
	border: none;
}

.cover-photo {
	margin-top: -70px;
	height: 500px;
	width: 100%;
	background: url('../images/icon_photo_small.png');
	background-size: 100% 100%;
}

.user-photo {
	margin: 250px 0 0 30px;
}

.nav-pills {
	margin-top: -50px;
	margin-left: 30%;
	font-size: 1.3em;
}

.nav-pills li {
	border-radius: 0;
	border: 2px solid #000;
}


.nav-pills .edit li  {
	
}
