/* application layout */

// Top Nav

.main-nav {
  background-color: #50a1b9;
  border-radius: 0;
  height: 40px;
  min-height: 0px;
  .navbar-brand {
    height: 25px;
    width: auto;
    padding: 10px 15px;
    img {
      height: 25px;
      width: 25px;
      border-radius: 100%;
      display: inline-block;
      margin-top: -4px;
    }
  }
  .navbar-text {
    margin: 10px 15px;
  }
  .search-bar {
    display: inline-block;
    input {
      -webkit-appearance: textfield;
      box-sizing: border-box;
      height: 24px;
      width: 350px;
      border-radius: 0;
    }
  }
  .white-nav-text {
    color: #fff;
  }
}

// Jumbotron

.cover-image {
  margin-top: 25px;
  background-image: url(../images/cover_image.jpg);
  background-size: cover;
  color: #fff;
  height: 320px;
  .image-mask {
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 190px;
    left: 60px;
    .profile-pic {
      width: 100%;
    }
  }
  .profile-name {
    position: absolute;
    top: 270px;
    left: 260px;
    font-weight: 600;
  }
}

// Middle Nav

.mid-nav {
  border: 2px solid #444;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  margin-top: -30px;
  ul {
    margin-left: 220px;
    list-style-type: none;
    height: 40px;
    display: inline-block;
    padding: 0;
    li {
      float: left;
      border-right: 2px solid #444;
      &.current {
        background: #ddd;
      }
      &:first-child {
        border-left: 2px solid #444;
      }
      a {
        display: block;
        color: #444;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
      }
      a:hover {
        background-color: #50a1b9;
      }
      .count-text {
        color: #aaa;
      }
    }
  }
  .mid-nav-edit {
    display: inline-block;
    float: right;
    line-height: 40px;
    margin-right: 20px;
  }
}