body{ 
	font-family: "Comic Sans MS", Comic Sans, cursive; 
}


.jumbotron{
	padding-bottom: 0px; 
	margin-bottom: 0px; 
	#cover-picture{
		position: relative; 
	}
	#profile-picture{
		position: absolute;
		z-index: 3; 
	  top: 190px;
	  left: 168px;
	}
	.profile-name{
    display: inline;
    position: absolute;
    left: 313px;
    z-index: 3;
    top: 288px;
    color: #fff;
	}
}

.site-navigation{
	width: 85%; 
	margin-left: 15%; 
	li{
		float: none; 
		display: inline-block;
 
		h5{	
			width: 132px;
   		height: 50px;
	    padding-top: 1em;
	    padding-bottom: .5em;
	    border: solid 1.5px black;
	    text-align: center;
	    margin:0px 0px; 
	    a{
	    	color: black; 
	    }
		}
	}
}

.tabs{
	border: solid 2px black; 
}

.not-active {
 pointer-events: none;
 cursor: default;
 
}

.link-tab.not-active{
 background-color: #C7C7C7;
}

.main-heading{
	border: solid 2px black; 
	.edit-profile-button{
		border-radius: 0px; 
		margin-top: 1em;
    margin-left: 2em;
    box-shadow: 3px 3px 5px black;
	}
}

.post-button{
		border-radius: 0px; 
    box-shadow: 3px 3px 5px black;
    width: 6em; 
	}

	.comment-button{
		border-radius: 0px; 
    box-shadow: 3px 3px 5px black;
	}

.about-section{
	border: solid 2px black; 
}

.top-navigation{
	background-color: #337AB7; 
	line-height: 2; 
	a.navbar-link, a.navbar-brand, a.navbar-link:hover, a.navbar-brand:hover{
		color: #fff; 
	}
}

.submit-button{
	height: 70px; 
	width: 100%;
	font-size: 20px; 
	font-weight: bold; 
	margin-top: 2.5em; 
	margin-bottom: 4em; 
	border: solid 2px black; 
	text-align: center; 
	padding-top: 1em; 
	border-radius:0; 
}

.navbar{
	margin-bottom: 0px; 
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.friend_detail{
	border: solid 2px black; 
	margin: 20px 0px; 
	height: 110px; 
	padding-top: 10px; 
	img{
		margin: 0px 10px;  
	}

	button{
		margin-top: 20px; 
		width: 170px; 
	}
}



	.name_detail{ 
		margin-top: 15px; 
		margin-left: 15px; 
		letter-spacing: 2px;
	}