/*******************************************************************/
/* COLORS */
/*******************************************************************/

$main-blue: #2B78E4;
$gray: #EEE;
$text-gray: #888;
$button-gray: #BFBFBF;

/*******************************************************************/
/* FRIENDS */
/*******************************************************************/

.friends-main {
	font-family: "Roboto", sans-serif;
	margin-bottom: 60px;
}

.friends-header { 
	background-color: $gray;
	height: 50px;
	border: 2px solid $gray;
	position: relative; 

	h1 {
		font-size: 2.5em;
		margin: 0 auto;
		text-align: center; 
		height: 50px; 
		line-height: 50px; // same as height, vertically centers
	}

	a {
		position: absolute;
		top: 50%; 
		right: 15px;
		transform: translateY(-50%);
		background-color: $main-blue;
		border-radius: 0px;
		box-shadow: 2px 2px 2px 1px black;
	}
}

.friends-container {
	border: 2px solid $gray;
	padding: 15px 45px 45px; // top left-right bottom 
}

.friend {
	border: 2px solid $gray; 
	padding: 15px;
	position: relative; 
}

.friend-photo { 
	display: inline-block;
	background-color: white;
	width: 100px;
	height: 100px;
	text-align: center;
	overflow: hidden; 
	float: left;

	img { 
		width: 100%;
	}
}

.friend-info {
	position: absolute; 
	top: 50%; 
	left: 130px; // friend-photo width + 15px left & right padding
	transform: translateY(-50%);
}

.friend-name {
	color: $main-blue; 
	text-decoration: underline;
	font-size: 1.3em;
}

.friend-count {
	color: $text-gray;
	font-size: 1.3em;
}

.unfriend-button {
	display: inline-block; 
	border-radius: 0;
	background-color: $button-gray;
	font-weight: bold;
	box-shadow: 2px 2px 2px 1px black;
	position: absolute; 
	right: 15px; 
	top: 50%; 
	transform: translateY(-50%);
}