/*****************************************************************************************/
/* Colors */
/*****************************************************************************************/
/*****************************************************************************************/
/* Body */
/*****************************************************************************************/
body {
  font-family: "Roboto", sans-serif; }

/*****************************************************************************************/
/* Navigation Bar */
/*****************************************************************************************/
.navbar {
  background-color: #2B78E4;
  height: 100px; }
  .navbar .navbar-header {
    margin-left: 30px; }
    .navbar .navbar-header .navbar-brand {
      color: white;
      font-size: 4em;
      font-weight: bold;
      letter-spacing: 2px;
      padding: 0 15px;
      height: 100px;
      line-height: 100px; }
      .navbar .navbar-header .navbar-brand:hover, .navbar .navbar-header .navbar-brand:focus, .navbar .navbar-header .navbar-brand:active {
        color: white; }
      @media (max-width: 768px) {
        .navbar .navbar-header .navbar-brand {
          margin-left: -30px; } }
    .navbar .navbar-header .navbar-toggle {
      margin-top: 28px;
      height: 44px;
      border-color: white; }
      .navbar .navbar-header .navbar-toggle .icon-bar {
        background-color: white; }
      .navbar .navbar-header .navbar-toggle:hover, .navbar .navbar-header .navbar-toggle:focus, .navbar .navbar-header .navbar-toggle:active {
        border-color: #2B78E4;
        background-color: white; }
        .navbar .navbar-header .navbar-toggle:hover .icon-bar, .navbar .navbar-header .navbar-toggle:focus .icon-bar, .navbar .navbar-header .navbar-toggle:active .icon-bar {
          background-color: #2B78E4; }
  .navbar form {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%); }
    .navbar form .form-group {
      display: inline-block;
      margin-right: 20px;
      width: 228px; }
      .navbar form .form-group label {
        color: white;
        font-size: 1.2em; }
    .navbar form button {
      background-color: #9FC5F8;
      border-radius: 0px;
      border: none;
      box-shadow: 2px 2px 1px 1px black;
      margin-bottom: 5px;
      /* reposition button to look more centered */ }
    @media screen and (max-width: 768px) {
      .navbar form {
        top: 100%;
        right: 50%;
        transform: translateY(0);
        transform: translateX(50%);
        width: 110%;
        background: #2B78E4;
        text-align: center; } }

/*****************************************************************************************/
/* Main Content */
/*****************************************************************************************/
main {
  margin-top: 100px; }

#info {
  width: 653px;
  /* min width so that bullets do not exceed one line each */
  margin: 50px auto; }
  #info h1 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 30px; }
  #info li {
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #666;
    margin-bottom: 20px; }
  @media screen and (min-width: 1380px) {
    #info {
      float: left;
      margin-top: 100px;
      margin-left: 60px; } }
  @media screen and (min-width: 1580px) {
    #info {
      transform: scale(1.1);
      margin-left: 180px; } }
  @media screen and (min-width: 1720px) {
    #info {
      transform: scale(1.1);
      margin-left: 270px; } }

#sign-up {
  width: 620px;
  margin: 50px auto; }
  #sign-up h1 {
    font-size: 3.2em;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 30px; }
  #sign-up .form-group {
    margin-bottom: 20px; }
  #sign-up input[type=text], #sign-up input[type=email], #sign-up input[type=password] {
    font-size: 1.2em; }
  #sign-up label[for=birthday] {
    font-size: 1.3em;
    margin-bottom: 15px; }
  #sign-up .btn-group {
    margin-right: 20px; }
  #sign-up .dropdown-menu {
    /* scroll through dropdown options */
    height: 150px;
    overflow-x: hidden; }
  #sign-up input[type=radio] {
    margin-right: 6px; }
  #sign-up .gender {
    font-weight: 400;
    font-size: 1.2em; }
  #sign-up #sign-up-button {
    width: 100%;
    background-color: #009E0F;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    box-shadow: 2px 2px 2px 2px black; }
  @media screen and (min-width: 1380px) {
    #sign-up {
      float: right;
      width: 500px;
      margin-top: 20px;
      margin-right: 80px; } }

/*# sourceMappingURL=styles.css.map */
