@import 'reset';

/* "borrowed" from https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



/*
 *  Custom styles
 */

$dane-blue: #2B78E4;
$navbar-text-color: white;

$screen-xs-max: 749px;
$screen-sm-min: 750px;
$screen-sm-max: 969px;
$screen-md-min: 970px;
$screen-md-max: 1169px;


body {
  font-family: arial, sans-serif; 
}

/* Danebook nav bar */

.navbar-danebook {
  background-color: $dane-blue;
  border: none;

  .danebook-brand {
    color: $navbar-text-color;
    margin-left: 2.5em;
  }

  .navbar-nav > li > a {
    color: $navbar-text-color;

    &:hover {
      color: #eee;
    }
  }

  .logo-wrapper {
    display: block;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    overflow: hidden;

    .flag-logo {
      width: 50px;
    }
  }

  .search-field {
    width: 700px;
  }
}

.page-wrapper {
  margin-top: 50px;
  width: 80%;
  margin: 50px auto 0;
}



/*
 *  Responsive styles
 */

@media (max-width: $screen-xs-max) {
  .navbar-danebook .search-field {
    width: 200px;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .navbar-danebook .search-field {
    width: 300px;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .navbar-danebook .search-field {
    width: 500px;
  }
}
