@import 'reset';

/* "borrowed" from https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



/*
 *  Custom styles
 */

$screen-xs-max: 749px;
$screen-sm-min: 750px;
$screen-sm-max: 969px;
$screen-md-min: 970px;
$screen-md-max: 1169px;

$dane-blue: #2B78E4;
$navbar-text-color: white;
$cover-photo-height: 300px;
$profile-nav-height: 50px;

body {
  font-family: arial, sans-serif; 
}

/* Danebook nav bar */

.navbar-danebook {
  background-color: $dane-blue;
  border: none;

  .danebook-brand {
    color: $navbar-text-color;
    margin-left: 2.5em;
  }

  .navbar-nav > li > a {
    color: $navbar-text-color;

    &:hover {
      color: #eee;
    }
  }

  .logo-wrapper {
    display: block;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    overflow: hidden;

    .flag-logo {
      width: 50px;
    }
  }

  .search-field {
    width: 700px;
  }
}

/* Main content wrapper */

.page-wrapper {
  width: 80%;
  margin: 50px auto 0;
}

/* about.html */

$profile-image-width: 225px;

.profile-header {
  height: $cover-photo-height + $profile-nav-height;

  .cover-photo {
    height: $cover-photo-height;
    background: url("../images/hogwarts_small.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .profile-nav {
    position: relative;
    height: $profile-nav-height;

    .profile-image-wrapper {
      position: absolute;
      bottom: -30px;
      display: inline-block;
      width: $profile-image-width;
      height: $profile-image-width;
      overflow: hidden;

      .profile-image {
        width: 100%;
      }
    }

    ul.nav li:nth-of-type(2) {
      margin-left: $profile-image-width + 10px;
    }
  }
}



/*
 *  Responsive styles
 */

@media (max-width: $screen-xs-max) {
  .navbar-danebook .search-field {
    width: 200px;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .navbar-danebook .search-field {
    width: 300px;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .navbar-danebook .search-field {
    width: 500px;
  }
}
