/*******************************************************************/
/* COLORS */
/*******************************************************************/

$main-blue: #2B78E4;
$gray: #EEE; 

/*******************************************************************/
/* MIXINS */
/*******************************************************************/

@mixin transform($xdist, $ydist) { // for browser compatibility
    -webkit-transform: translate($xdist, $ydist);
        -ms-transform: translate($xdist, $ydist);
            transform: translate($xdist, $ydist);
}

/*******************************************************************/
/* NAVIGATION BAR STYLES */
/*******************************************************************/

.navbar-main { // entire top bar
	background-color: $main-blue;
	border: none;
	font-family: "Roboto", sans-serif;
}

/*******************************************************************/
/* LOGO + BRAND */
/*******************************************************************/

.navbar-header { // logo container + brand
	display: inline-block;
}

.navbar-logo { // logo container
	float: left;
	height: 40px;
	width: 40px;
	overflow: hidden;
	border-radius: 50%;
	margin-top: 5px; /* vertical centering */
	margin-right: 10px;

	img { // logo (circular Denmark flag)
		margin: 0 auto;
		height: 100%;
		width: auto;
	}

	@media screen and (max-width: 768px) {
		display: none;
	}
}

.navbar-header .navbar-brand { // brand ("Danebook")
	color: white;
	font-size: 2em;
	font-weight: bold;

	&:hover, &:focus, &:active {
		color: white;
	}
}

/*******************************************************************/
/* USER SEARCH BAR */
/*******************************************************************/

.navbar-user-search {
	position: relative; 
	height: 50px;

	input {
		position: absolute; 
		top: 50%;
		@include transform(0,-50%); 
		font-size: 1.3em;
	}
}

/*******************************************************************/
/* CURRENT USER */
/*******************************************************************/

.navbar-current-user {
	line-height: 50px;
	border: none;
	text-align: right;

	a {
		color: white; 
		font-size: 1.5em;
		font-weight: bold;

		&:hover, &:focus, &:active {
			text-decoration: none;
		}
	}
}

