/*******************************************************************/
/* COLORS */
/*******************************************************************/

$main-blue: #2B78E4;
$main-gray: #EEE;
$date-gray: #8A8A8A;

/*******************************************************************/
/* MIXINS */
/*******************************************************************/

@mixin transform($xdist, $ydist) { // for browser compatibility
    -webkit-transform: translate($xdist, $ydist);
        -ms-transform: translate($xdist, $ydist);
            transform: translate($xdist, $ydist);
}

/*******************************************************************/
/* PHOTOS */
/*******************************************************************/

.photos-main {
	font-family: "Roboto", sans-serif;
	margin-bottom: 60px;
}

.photos-header { 
	background-color: $main-gray;
	height: 50px;
	border: 2px solid $main-gray;
	position: relative; 

	h1 {
		font-size: 2.5em;
		margin: 0 auto;
		text-align: center; 
		height: 50px; 
		line-height: 50px; // same as height, vertically centers
	}

	a {
		position: absolute;
		top: 50%; 
		right: 15px;
		@include transform(0,-50%);
		background-color: $main-blue;
		border-radius: 0px;
		box-shadow: 2px 2px 2px 1px black;
	}
}

.photos-container {
	border: 2px solid $main-gray;
	padding: 15px 45px 45px; // top left-right bottom 
}

.photo {
	display: inline-block;
	background-color: white;
	text-align: center;
	overflow: hidden; 

	img { 
		width: 100%;
	}	

	&:hover { // show date on hover
		.photo-date { display: block; }
	}
}

.photo-date {
	display: none; // normally hidden, unless hovered over
	background-color: $date-gray; 
	color: white; 
	border: none; 
	margin: 0;
	width: 100%;
	height: 40px; 
	line-height: 40px; // same as height, vertically centerss
	position: relative; 
	margin-top: -40px; // same as height & line-height
}

