
$nav-font-color: white;
$background-blue: #2B78E4;

.navbar-fixed-top {
	background: $background-blue;
	border-bottom: 2px solid black;

	img {
		height: 25px;
		border-radius: 50%;
		display: inline;
	}
	.navbar-brand {
		color: $nav-font-color;
		font-size: 30px;
		font-weight: bold;
	}

	.icon-bar {
		background: white !important;
	}

	.navbar-nav {
		width: 60%;

		* {
			border: none;
			width: 100%;
		}
		.navbar-search {
			margin-left: 15px;
		}
	}

	.navbar-right {
		width: 8%;

		li {
			a {
				font-size: 20px;
				font-weight: bold;
				color: $nav-font-color;
			}
		}
	}
}

.banner-image {
	max-width: 100%;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

.user-profile-wrapper {
	position: absolute;
	bottom: 250px;
	text-align: center;

	img {
		height: 175px;
		border: 2px solid black;
	}
}

.about-container {
	margin-top: 15px;
	margin-bottom: 30px;

	border: 2px solid black;

	header {
		display: flex;
		align-items: center;
	}
}