@import "_reset.scss";
@import "_variables.scss";
@import "about.scss";

*{
	outline: 1px solid gray;
}
/** NAV BAR **/
nav.navbar{
	background-color: $primary-color;
	font-size: 2em;
	color: $white;
	padding-top: 20px;
	height: 3em;
	.navbar-brand{
		padding: 0;
		font-size: 1.2em;
		img{
			height: 100%;
  		padding: 15px;
  		display: inline;
		}
	}

	#searchbar{
		input[type="search"]{
			width: 80%;						
		}
		@media (max-width: 1000px){
				display: none;
			}
	}	
}

#logo_text{ 
	color: $white;
	@media (max-width: 770px){		
			font-size: 0.8em;
	}
}

#user_name{
	text-align: center;
	@media (max-width: 770px){		
			font-size: 0.5em;
	}
}

/**Profile Section**/
.profile_section{
	display: inline-block;
	.profile_wrapper{
		margin-top: 6em;
		.profile_background{
			width: 100%;
			z-index:0;
			position: relative;
		}
		.profile_picture{
			z-index: 2;
			float: left;
			position: relative;
			left: 1em;
			bottom: 18em;

		}
	}
}