
$nav-font-color: white;
$background-blue: #2B78E4;

.navbar-fixed-top {
	background: $background-blue;
	border-bottom: 2px solid black;

	img {
		height: 25px;
		border-radius: 50%;
		display: inline;
	}
	.navbar-brand {
		color: $nav-font-color;
		font-size: 30px;
		font-weight: bold;
	}

	.icon-bar {
		background: white !important;
	}

	.navbar-nav {
		width: 60%;

		* {
			border: none;
			width: 100%;
		}
		.navbar-search {
			margin-left: 15px;
		}
	}

	.navbar-right {
		width: 8%;

		li {
			a {
				font-size: 20px;
				font-weight: bold;
				color: $nav-font-color;
			}
		}
	}
}

.container {
	border: 2px dashed black;
}

.row {
	border: 2px dotted red;
}

*[class^=col-] {
	border: 1px dotted green;
}

.banner-image {
	max-width: 100%;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.banner-nav {
	border: 2px solid black;
}

.edit-profile {
	border: 2px solid black;
}