/*******************************************************************/
/* COLORS */
/*******************************************************************/

$main-blue: #2B78E4;
$main-gray: #EEE;
$text-gray: #888;

/*******************************************************************/
/* MIXINS */
/*******************************************************************/

@mixin transform($xdist, $ydist) { // for browser compatibility
    -webkit-transform: translate($xdist, $ydist);
        -ms-transform: translate($xdist, $ydist);
            transform: translate($xdist, $ydist);
}

/*******************************************************************/
/* TIMELINE ITEMS - ABOUT, PHOTOS, FRIENDS, POST */
/*******************************************************************/

.timeline-item {
	margin-bottom: 15px; 
}

.timeline-heading {
	background-color: $main-gray;
	border: 2px solid $main-gray;
	text-align: center; 
	height: 35px;

	h1 {
		padding: 4px 0; // vertical centering
		margin: 0;
		font-size: 1.5em;
	}	
}

.timeline-content-container {
	border: 2px solid $main-gray;
	padding: 15px;	
}

.timeline-content {
	display: inline-block;
	background-color: white;
	text-align: center;
	overflow: hidden; 

	img { 
		width: 100%;
	}	
}

.timeline-footer {
	text-align: center;
	padding-top: 15px;

	a {
		color: $main-blue;
		text-decoration: underline;		
	}
}

.timeline-about-info {
	border: 2px solid $main-gray;
	padding: 10px 30px;

	dl {
		margin: 10px;
	}

	dt {
		display: inline;
	}

	dd {
		display: inline;
	}
}

.timeline-friend-name {
	color: $main-blue;
	text-decoration: underline;		
}

.make-post-content {
	border: 2px solid $main-gray;
	padding: 15px;
}

.make-post-submit {
	background-color: $main-gray;
	text-align: right;
	height: 45px;
	position: relative; 

	a {
		position: absolute; 
		top: 50%; 
		right: 15px; 
		@include transform(0,-50%);
		background-color: $main-blue;
		border-radius: 0px;
		width: 75px;
		font-size: 1.1em;
		box-shadow: 1px 1px 1px 1px black;
		padding: 3px 0;
		margin-right: 15px;
	}
}

/*******************************************************************/
/* TIMELINE POSTS */
/*******************************************************************/

.timeline-post { // existing post
	border: 2px solid $main-gray;
	margin-bottom: 15px;
	position: relative;
}

.poster-photo { // container of poster's photo
	display: inline-block;
	background-color: white;
	width: 75px;
	height: 75px;
	text-align: center;
	overflow: hidden; // only show portion if image is large
	margin: 7px;

	img { // poster's photo
		width: 100%;
	}
}

.poster-info { //
	display: inline-block;
	margin: 0; 
	padding: 0;
	position: absolute;
	top: 7px; // same as .poster-photo margin

	a {
		padding: 0;
		margin: 0; 
		color: $main-blue;
		text-decoration: underline;
	}

	p {
		color: $text-gray;
	}
}

.post-content {
	padding: 0 15px;
}

.post-interaction {
	background-color: $main-gray;
	height: 40px;
	padding: 3px 0; // vertically center

	a {
		color: $main-blue;
		text-decoration: underline;
	}

	.delete-button {
		float: right;
	}
}

.post-likes { 
	background-color: $main-gray;
	height: 40px;
	padding: 3px 0; // vertically center
	padding-left: 12px;

	a {
		color: $main-blue; 
		text-decoration: underline;
	}
}

.post-comments {
	border-top: 1px solid #BBB;
	background-color: $main-gray;
	position: relative;
}

.comment-poster-photo { // container of comment poster's photo
	display: inline-block;
	background-color: white;
	width: 75px;
	height: 75px;
	text-align: center;
	overflow: hidden; // only show portion if image is large
	margin: 10px;
	float: left;

	img { // poster's photo
		width: 100%;
	}
}

.comment-poster-info {
	display: inline-block;
	margin: 0; 
	padding: 0;
	position: relative; 
	top: 10px;

	a {
		color: $main-blue;
		text-decoration: underline;
	}

	p {
		display: inline-block;
		color: $text-gray;
	}
}

.comment-post-content {
	display: inline-block;
	padding-right: 15px; // same value as .post-content padding
	margin-top: -50px; // shift up 
	margin-left: 95px; // width of comment photo, with 10px as L&R margins
}

.comment-post-likes {
	margin-left: 95px; // width of comment photo, with 10px as L&R margins

	a {
		display: inline-block;
		color: $main-blue;
		text-decoration: underline;
		padding: 0;
		padding-right: 15px;
	}

	.delete-button {
		float: right;
	}

	p {
		display: inline-block; 
		color: $text-gray;
	}
}

.comment-entry {
	padding: 15px; 
}

.comment-submission {
	height: 50px;

	.btn-link {
		display: inline-block;
		color: $main-blue;
		text-decoration: underline;
		padding: 0;
		margin-left: 30px;
	}

	.btn-primary {
		background-color: $main-blue;
		border-radius: 0px;
		width: 75px;
		font-size: 1.1em;
		box-shadow: 1px 1px 1px 1px black;
		padding: 3px 0;
		float: right;
		margin-right: 30px;
	}

}